.#{$ns}Cascader-tabs {
  display: flex;
  &.scrollable {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.#{$ns}Cascader-tab {
  flex: 1;
  min-width: 0;
  min-height: 0;
  width: calc((100vw - 20px) / 3);
  height: px2rem(260px);
  overflow-y: auto;
  display: inline-block;
  padding-left: px2rem(10px);
  border: 1px solid var(--Cascader-border-color);

  &::-webkit-scrollbar {
    display: none;
  }
}
.#{$ns}Cascader {
  width: 100%;
  padding: 0 10px;
  &-Nav {
    overflow-x: auto;
    &Item {
      display: inline-block;
      margin-right: px2rem(10px);
      list-style: none;
      cursor: pointer;
      user-select: none;
      padding: 0 px2rem(6px);
    }
  }
  &-btnGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: px2rem(60px);
  }
  &-options {
    box-sizing: border-box;
    height: var(--Cascader-option-height);
    padding-top: px2rem(6px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0;
    padding: 0;
  }
  &-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: px2rem(6px) 0 px2rem(6px) px2rem(10px);
    font-size: var(--fontSizeMd);
    line-height: var(--Cascader-option-lineHeight);
    cursor: pointer;
    position: relative;

    &.is-active {
      background-color: var(--Cascader-border-active-bg-color);
    }

    &.selected {
      .#{$ns}Cascader-option--text {
        color: var(--primary);
      }
    }
    &.disabled {
      span {
        color: gray;
      }
    }
    &--text {
      flex: 1;
      min-width: 0;
      min-height: 0;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-clamp: 2;
      box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: none;

      &.disabled {
        color: var(--Cascader-option-disable-color);
      }
    }

    & > .#{$ns}Checkbox {
      flex: 1;
      min-width: 0;
      display: flex;
      flex-direction: row;
      margin: 0;
      align-items: center;
      justify-content: flex-start;

      > i + span {
        flex: 1;
        min-width: 0;
      }
    }

    &-arrow {
      flex-shrink: 0;
      min-width: 0;
      min-height: 0;
      text-align: right;
      padding-right: px2rem(6px);
      width: 20px;
      > svg {
        transform: scale(0.8);
        transition: transform var(--animation-duration);
        display: inline-block;
        color: var(--Form-select-caret-iconColor);
        width: 10px;
        height: 10px;
        top: 0;
      }
    }

    &-selectedNum {
      min-width: px2rem(16px);
      height: px2rem(16px);
      line-height: px2rem(16px);
      border-radius: 100%;
      text-align: center;
      background: var(--Form-select-menu-onActive-color);
      color: var(--white) !important;
      font-size: var(--fontSizeSm);
      display: inline-block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &-icon {
    color: var(--primary);
  }
  &-tab {
    padding: 0;
  }

  &-btnCancel {
    color: var(--PopUp-cancelAction-color);
  }
}
