.#{$ns}CollapseGroup {
  .#{$ns}Collapse {
    border-radius: 0;
  }

  .#{$ns}Collapse:first-child {
    border-radius: 4px 4px 0 0;
    & > .#{$ns}Collapse-header {
      border-radius: 4px 4px 0 0;
    }
  }

  .#{$ns}Collapse:not(.#{$ns}Collapse--title-bottom):last-child {
    border-radius: 0 0 4px 4px;
    & > .#{$ns}Collapse-header {
      border-radius: 0 0 4px 4px;
    }
    &
      > .#{$ns}Collapse-contentWrapper
      > .#{$ns}Collapse-body
      > .#{$ns}Collapse-content {
      border-radius: 0 0 4px 4px;
    }
  }

  .#{$ns}Collapse.is-active:not(.#{$ns}Collapse--title-bottom):last-child {
    & > .#{$ns}Collapse-header {
      border-radius: 0px;
    }
  }

  .#{$ns}Collapse--title-bottom:last-child {
    border-radius: 0 0 4px 4px;
    & > .#{$ns}Collapse-header {
      border-radius: 0 0 4px 4px;
    }
  }

  .#{$ns}Collapse:first-child:nth-last-child(1) {
    border-radius: 4px;
    & > .#{$ns}Collapse-header {
      border-radius: 4px;
    }
  }

  .#{$ns}Collapse:not(:last-child):not(.is-mobile) {
    border-bottom: none;
  }

  &.icon-position-right {
    .#{$ns}Collapse-header {
      .#{$ns}Collapse-arrow-wrap {
        float: right;
        margin-right: 0;
      }

      .#{$ns}Collapse-icon-tranform {
        float: right;
      }
    }
  }

  &.icon-position-right {
    .#{$ns}Collapse-header {
      &.noTitle {
        text-align: right;
        .#{$ns}Collapse-arrow-wrap {
          float: none;
        }
      }
    }
  }

  &.is-mobile {
    &.icon-position-right {
      .#{$ns}Collapse-header {
        .#{$ns}Collapse-arrow-wrap {
          margin-right: px2rem(-18px);
        }
      }
    }
  }
}
