.#{$ns}Collapse {
  border-width: var(--collapse-default-top-border-width)
    var(--collapse-default-right-border-width)
    var(--collapse-default-bottom-border-width)
    var(--collapse-default-left-border-width);
  border-style: var(--collapse-default-top-border-style)
    var(--collapse-default-right-border-style)
    var(--collapse-default-bottom-border-style)
    var(--collapse-default-left-border-style);
  border-color: var(--collapse-default-top-border-color)
    var(--collapse-default-right-border-color)
    var(--collapse-default-bottom-border-color)
    var(--collapse-default-left-border-color);
  border-radius: var(--collapse-default-top-left-border-radius)
    var(--collapse-default-top-right-border-radius)
    var(--collapse-default-bottom-right-border-radius)
    var(--collapse-default-bottom-left-border-radius);
  padding: 0;
  line-height: px2rem(20px);
  // overflow: hidden;

  &-header {
    font-size: var(--Collapse-header-fontSize);
    font-weight: var(--Collapse-header-fontWeight);
    color: var(--collapse-default-header-color);
    line-height: var(--collapse-default-header-lineHeight);
    padding: var(--Collapse-header-padding);
    margin: 0;
    cursor: pointer;
    background: var(--Collapse-header-bg);

    &-wrapper {
      display: inline-flex;
      flex-direction: var(--Collapse-header-wrapper-direction);
    }

    &-tpl {
      margin-right: px2rem(8px);
    }

    &:hover {
      background: var(--Collapse-header-onHover-bg);
      color: var(--collapse-default-header-hover-color);
    }
  }

  .Collapse-arrow {
    content: var(--collapse-icon-icon);
  }

  &-arrow-wrap {
    width: px2rem(16px);
    height: px2rem(16px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: var(--collapse-icon-margin);
  }

  &-arrow svg {
    width: var(--collapse-icon-size);
    height: var(--collapse-icon-size);
    color: var(--collapse-icon-color);
  }

  &-icon-tranform {
    display: inline-block;
    width: px2rem(16px);
    text-align: center;
    margin-right: var(--gap-xs);
  }

  // 干扰太多了，先注释
  // .#{$ns}TplField {
  //   display: inline-block;
  // }

  &.is-active &-arrow {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
  }
  &.is-active > * > &-icon-tranform {
    transform: rotate(90deg);
  }

  &--disabled > &-header {
    cursor: not-allowed;
    user-select: none;
    color: var(--collapse-disabled-header-color);
    font-size: var(--collapse-disabled-header-fontSize);
    font-weight: var(--Collapse-disabled-header-fontWeight);
    line-height: var(--collapse-disabled-header-lineHeight);
    background: var(--collapse-disabled-header-bg-color);
    &:hover {
      background-color: var(--Collapse-header-bg-disabled-color);
      color: var(--collapse-disabled-header-hover-color);
    }
  }

  &--disabled > * > &-arrow:before {
    border-color: var(--collapse-disabled-header-color);
  }

  // title 显示在底部的模式
  &--title-bottom &-header {
    text-align: center;
    font-size: var(--fontSizeBase);
    border-top: var(--Collapse-header-collapsed-borderTop);
    border-bottom: var(--Collapse-header-collapsed-borderBottom);
  }

  &--title-bottom.is-collapsed &-header {
    border-top: none;
  }

  &--title-bottom &-arrow:before {
    top: px2rem(-4px);
    transform: rotate(135deg);
  }

  &--title-bottom.is-active &-arrow:before {
    top: 0;
    transform: rotate(-45deg);
  }

  &-contentWrapper {
    transition: height var(--animation-duration) ease;
    &.in,
    &.out {
      height: 0;
      overflow: hidden;
    }
  }
  &-content {
    padding: var(--Collapse-content-padding);
    color: var(--Collapse-content-color);
    font-size: var(--Collapse-content-fontSize);
    font-weight: var(--Collapse-content-fontWeight);
    line-height: var(--collapse-default-content-lineHeight);
    background: var(--collapse-default-bg-color);
  }

  &--disabled > &-content {
    color: var(--collapse-disabled-content-color);
    font-size: var(--collapse-disabled-content-fontSize);
    font-weight: var(--collapse-disabled-content-fontWeight);
    line-height: var(--collapse-disabled-content-lineHeight);
    background: var(--collapse-disabled-bg-color);
  }
}

//FieldSet Form + Collapse
.#{$ns}Form {
  .#{$ns}Collapse {
    border: none;
    &-header {
      background-color: var(--white);
      display: inline-flex;
      justify-content: flex-end;
      flex-direction: row-reverse;
      border-radius: 0;
    }
    &-content {
      padding: 0;
    }
  }
}
