.#{$ns}Divider {
  margin: var(--Divider-marginTop) var(--Divider-marginRight)
    var(--Divider-marginBottom) var(--Divider-marginLeft);
  border-bottom: var(--Divider-width) var(--Divider-style) var(--Divider-color);
  height: px2rem(2px);
  font-size: 0;

  &--solid {
    border-bottom-style: solid;
  }
}
