.#{$ns}DrapProgress {
  display: flex;
  align-items: center;
  height: px2rem(18px);

  &-light {

    .#{$ns}DrapProgress-wrap-line {
      background: #e8e9eb;
    }

    .#{$ns}DrapProgress-precent {
      color: var(--dark);
    }
  }

  &-dark {

    .#{$ns}DrapProgress-wrap-line {
      background: var(--white);
    }

    .#{$ns}DrapProgress-precent {
      color: var(--white);
    }
  }

  &-wrap {
    position: relative;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;

    &-line {
      width: 100%;
      border-radius: px2rem(2px);
      height: px2rem(4px);

      &-highlight {
        height: 100%;
        background: var(--primary);
      }
    }
  
    &-item {
      position: absolute;
      left: 0;
      background: var(--white);
      border: 1px solid var(--primary);
      box-shadow: 0 2px 8px 0 rgba(7, 12, 20, .12);
      cursor: pointer;
    }
  }

  &-precent {
    margin-left: px2rem(12px);
    margin-right: px2rem(8px);
    width: px2rem(30px);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
  }
}
