@keyframes disappear {
  to {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
}

.#{$ns}ImageGallery {
  display: flex;
  flex-direction: row;
  background: transparent;
  border: none;
  border-radius: 0;
  max-width: 1500px !important;
  // max-width: calc(100% - #{px2rem(128px)});
  padding: px2rem(44px) 0 px2rem(24px);

  &-reverse {
    flex-direction: row-reverse;

    .#{$ns}ImageGallery-main {
      margin-left: px2rem(14px);
      margin-right: 0;
    }
  }

  &-overlay {
    background: rgba(7, 12, 20, .5);
  }

  &-embed {
    display: inline-flex;
    position: relative;
    min-height: px2rem(370px);
    max-width: px2rem(768px);
    width: auto;
    padding: 0;

    &-title {
      min-height: px2rem(410px);
      padding-top: px2rem(40px);
    }

    .#{$ns}ImageGallery-toptitle {
      color: var(--dark);
    }

    .#{$ns}ImageGallery-main {
      width: px2rem(546px);
      height: unset;
      flex: 0 0 px2rem(436px);
    }

    .#{$ns}ImageGallery-image {
      height: calc(100% - #{px2rem(56px)});
    }

    .#{$ns}ImageGallery-info {
      width: px2rem(208px);
      background: var(--white);
      color: var(--dark);
      border: 1px solid #e8e9eb;
      border-radius: 4px;
      padding: px2rem(12px);
    }

    .#{$ns}ImageGallery-toolbar {
      margin: px2rem(8px);
      
      &-list {
        background: var(--white);
        color: var(--dark);
        border: 1px solid #e8e9eb;

        .#{$ns}ImageGallery-toolbar-action-icon {
          color: var(--dark);

          svg {
            fill: var(--dark);
          }
        }
      }

      &:hover {

        .#{$ns}ImageGallery-toolbar-action-icon {
          color: var(--dark);

          svg {
            fill: var(--dark);
          }
        }
      }

      &-pagination {

    
        > ul {
    
          li {
            color: var(--dark);
    
            svg {
              color: var(--dark);
            }
          }
        }
      }
    }
  }

  &-body {
    width: px2rem(856px);
    margin-right: px2rem(16px);
  }

  &-info {
    width: px2rem(280px);
    background: rgba(21, 27, 38, 0.5);
    padding: px2rem(18px) px2rem(24px);
    color: #f7f7f9;
    border-radius: 4px;

    &-title {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: px2rem(15px);
    }

    &-description {
      line-height: 20px;
      font-size: 12px;
      font-weight: 400;
    }
  }

  &-toptitle {
    position: absolute;
    left: 50%;
    top: px2rem(5px);
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    z-index: 1;
    color: var(--white);
    cursor: pointer;
  }

  &-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    background: rgba(21, 27, 38, 0.5);
    border-radius: 4px;
    font-size: 0;
    z-index: 1;

    svg {
      margin-top: px2rem(-5px);
      top: 50%;
      width: px2rem(10px);
      height: px2rem(10px);
      color: var(--white);
    }
  }

  &-title {
    height: px2rem(30px);
    vertical-align: top3;
    line-height: px2rem(30px);
    font-size: px2rem(12px);
    color: var(--white);
    text-align: center;
  }

  &-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
    margin-right: px2rem(14px);

    &.is-dragging > img {
      transition: none;
      user-select: none;
      cursor: -webkit-grabbing;
    }
  }

  &-preview {
    max-height: 100%;
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    position: relative;
    overflow: hidden;

    &-reverse {
      flex-direction: column-reverse;

      .#{$ns}ImageGallery-image {
        height: calc(100% - #{px2rem(56px)});
        margin: 0 0 px2rem(16px) 0;
      }

      .#{$ns}ImageGallery-image-bottom {
        margin: 0;
      }

      .#{$ns}ImageGallery-toolbar {
        margin: 0 0 px2rem(16px) 0;
      }
    }
  }

  &-image {
    height: calc(100% - #{px2rem(72px)});
    width: 100%;
    position: relative;
    inset: 0;
    overflow: hidden;

    &-wrap {
      position: absolute;
      inset: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      > img {
        display: inline-block;
        position: absolute;
        cursor: move;
        cursor: -webkit-grab;
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
        transform-origin: center;
        transition: transform 0.3s cubic-bezier(0, 0, 0.25, 1) 0s;
        z-index: 0;
      }
    }
  }

  &-prevBtn,
  &-nextBtn {
    position: absolute;
    top: 50%;
    font-size: 0;
    width: px2rem(32px);
    height: px2rem(32px);
    transform: translateY(-50%);
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    animation-name: disappear;
    animation-delay: var(--animation-duration);
    animation-duration: var(--animation-duration);
    animation-fill-mode: both;

    svg {
      width: px2rem(12px);
      height: px2rem(12px);
      fill: #151b26;
      color: #151b26;
    }

    &.is-disabled {
      pointer-events: none;
    }
  }

  &-image:hover &-prevBtn,
  &-image:hover &-nextBtn,
  &-prevBtn:hover,
  &-nextBtn:hover {
    animation-name: appear;
    animation-delay: 0s;
    animation-duration: var(--animation-duration);
  }

  &-prevBtn {
    left: var(--gap-md);
  }

  &-nextBtn {
    right: var(--gap-md);
  }

  &-itemsWrap {
    flex-grow: 1;
    flex-basis: 0;
    width: calc(100% - #{px2rem(56px)});
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  &-items {
    display: inline-block;
    white-space: nowrap;
  }

  &-item {
    margin: 8px 4px;
    width: px2rem(82px);
    height: px2rem(60px);
    display: inline-flex;
    position: relative;
    border: 1px solid #666;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    > img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }

    @supports (object-fit: cover) {
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &:hover {
      border: 1px solid #e5e5e5;
      &:after {
        display: none;
      }
    }

    &.is-active {
      border: 1px solid var(--primary);
      &:after {
        display: none;
      }
    }
  }

  &-sliding-img {
    width: 100%;
    height: 100%;
  }
}

.ImageGallery-prevBtn {
  content: var(--image-images-prev-icon);
}

.ImageGallery-nextBtn {
  content: var(--image-images-next-icon);
}

.#{$ns}ImageGallery-toolbar {
  border-radius: var(--image-images-preview-radius);
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: px2rem(40px);
  width: 100%;
  margin: px2rem(16px) 0;
  border-radius: 4px;

  &-list {
    width: 100%;
    border-radius: var(--image-images-preview-radius);
    display: flex;
    align-items: flex-start;
    padding: var(--image-images-preview-paddingTop)
      var(--image-images-preview-paddingRight)
      var(--image-images-preview-paddingBottom)
      var(--image-images-preview-paddingLeft);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: rgba(21, 27, 38, 0.5);
  }

  &-action {
    width: px2rem(36px);
    height: px2rem(36px);
    line-height: px2rem(36px);
    cursor: pointer;
    display: flex;
    justify-content: center;

    &-icon {
      display: block;
      color: var(--white);

      svg {
        fill: var(--white);
      }
    }

    &.is-disabled {
      cursor: not-allowed;
      color: var(--icon-onDisabled-color);

      .#{$ns}ImageGallery-toolbar-action-icon {
        color: var(--icon-onDisabled-color);

        svg {
          color: var(--icon-onDisabled-color);
        }
      }
    }

    &:hover {

      .#{$ns}ImageGallery-toolbar-action-icon {
        color: var(--white);

        svg {
          fill: var(--white);
        }
      }
    }
  }

  &-pagination {
    flex: 1;
    text-align: right;

    > ul {
      width: px2rem(102px);

      li {
        color: var(--white);
        
        span {
          min-width: unset;
        }

        svg {
          color: var(--white);
        }
      }
    }
  }
}
