.#{$ns}Nav {
  position: relative;
  cursor: pointer;
  background-color: var(--Layout-light-backgroundColor);
  font-size: var(--Nav-item-fontSize);

  .#{$ns}Nav-dropIndicator {
    position: absolute;
    background: var(--Nav-item-onActive-color);
    height: 2px;
  }
}
