.#{$ns}Nav {
  position: relative;
  cursor: pointer;
  background-color: var(--Layout-light-backgroundColor);
  font-size: var(--Nav-item-fontSize);
  line-height: var(--Nav-Item-height);
  min-height: 10px;

  &-horizontal {
    line-height: var(--Nav-Item-height--horizontal);
  }

  .#{$ns}Nav-dropIndicator {
    position: absolute;
    background: var(--Nav-item-onActive-color);
    height: 2px;
  }
}
