.#{$ns}PdfViewer {
  position: relative;
  height: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  &-Content {
    width: max-content;
    max-width: 100%;
    &.is-loaded {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
    }
  }

  &-Loading {
    text-align: center;
  }

  &-Tool {
    position: absolute;
    z-index: 10;
    padding: 5px 15px;
    bottom: 60px;
    background-color: #444444;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    user-select: none;
    .gap {
      margin: 0 4px;
    }
    .icon {
      cursor: pointer;
      width: 20px;
      margin: 0 10px;
      &:hover {
        color: var(--colors-brand-5);
      }
    }
    .page-input {
      width: 40px;
    }
  }
}
