/**
 * @file _shape.scss
 *
 * @author allenve(yupeng12@baidu.com)
 * @created: 2024/12/12
 */

.#{$ns}Shape {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  &-svg {
    position: absolute;
    overflow: visible;
  }
}
