.#{$ns}TplField {
  &.is-inline {
    display: inline;
  }
}

.max-line {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-word;
}