/*
 * utilities
 */

// background
@import './utilities/background/background-color';

@import './utilities/border/border-color';
@import './utilities/border/border-radius';
@import './utilities/border/border-width';
@import './utilities/border/border-style';

@import './utilities/layout/box-sizing';
@import './utilities/layout/clear';
@import './utilities/layout/display';
@import './utilities/layout/float';
@import './utilities/layout/overflow';
@import './utilities/layout/position';
@import './utilities/layout/top-right-bottom-left';
@import './utilities/layout/visibility';
@import './utilities/layout/z-index';

@import './utilities/flex/direction';
@import './utilities/flex/flex';
@import './utilities/flex/grow';
@import './utilities/flex/order';
@import './utilities/flex/shrink';
@import './utilities/flex/wrap';

@import './utilities/grid/auto-columns';
@import './utilities/grid/auto-flow';
@import './utilities/grid/auto-rows';
@import './utilities/grid/column-start-end';
@import './utilities/grid/columns';
@import './utilities/grid/gap';
@import './utilities/grid/row-start-end';
@import './utilities/grid/rows';

@import './utilities/box-alignment/align-content';
@import './utilities/box-alignment/align-items';
@import './utilities/box-alignment/align-self';
@import './utilities/box-alignment/justify-content';
@import './utilities/box-alignment/justify-items';
@import './utilities/box-alignment/justify-self';
@import './utilities/box-alignment/place-content';
@import './utilities/box-alignment/place-items';
@import './utilities/box-alignment/place-self';

@import './utilities/effect/box-shadow';

@import './utilities/spacing/margin';
@import './utilities/spacing/padding';
@import './utilities/spacing/space-between';

@import './utilities/sizing/width';
@import './utilities/sizing/height';

@import './utilities/typography/font-size';
@import './utilities/typography/font-style';
@import './utilities/typography/font-weight';
@import './utilities/typography/line-height';
@import './utilities/typography/list-style-type';
@import './utilities/typography/text-align';
@import './utilities/typography/text-color';
@import './utilities/typography/text-decoration';
@import './utilities/typography/text-transform';
@import './utilities/typography/whitespace';
@import './utilities/typography/word-break';

@import './utilities/widgets/label';
@import './utilities/widgets/hbox';
@import './utilities/widgets/vbox';
@import './utilities/widgets/thumb';
@import './utilities/widgets/scrollable';
@import './utilities/widgets/line';

.no-select {
  user-select: none;
}

@include media-breakpoint-up(sm) {
  .#{$ns}Form-col {
    &.w,
    &.w-xs,
    &.w-sm,
    &.w-md,
    &.w-lg {
      flex-basis: unset;
      flex-grow: unset;
    }
  }
}

// .img-full {
//   width: 100%;

//   & img {
//     width: 100%;
//   }
// }

// .hover-action {
//   display: none;
// }

// .hover-rotate {
//   transition: all 0.2s ease-in-out 0.1s;
// }

// .hover-anchor:hover,
// .hover-anchor:focus,
// .hover-anchor:active {
//   & > .hover-action {
//     display: inherit;
//   }

//   & > .hover-rotate {
//     transform: rotate(90deg);
//   }
// }

// .backdrop {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 1050;

//   &.fade {
//     opacity: 0;
//   }

//   &.in {
//     opacity: 0.8;
//   }
// }

.col-xs-2-4,
.col-sm-2-4,
.col-md-2-4,
.col-lg-2-4,
.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

// 5/12 = 2.4
.col-xs-2-4 {
  width: 20%;
  float: left;
}

// 8 / 12 = 1.5
.col-xs-1-5 {
  width: 12.5%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-2-4 {
    width: 20%;
    float: left;
  }

  .col-sm-1-5 {
    width: 12.5%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-2-4 {
    width: 20%;
    float: left;
  }

  .col-md-1-5 {
    width: 12.5%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-2-4 {
    width: 20%;
    float: left;
  }

  .col-lg-1-5 {
    width: 12.5%;
    float: left;
  }
}

// sm
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm.show {
    display: inherit !important;
  }

  .no-m-sm {
    margin: 0 !important;
  }

  .no-padder-sm {
    padding: 0 !important;
  }
}

.visible-xs {
  display: none;
}

/*phone*/
@media (max-width: 767px) {
  .visible-xs {
    display: block;
  }

  .w-auto-xs {
    width: auto;
  }

  .shift {
    display: none !important;
  }

  .shift.in {
    display: block !important;
  }

  .text-center-xs {
    text-align: center;
  }

  .text-left-xs {
    text-align: left;
  }

  .text-right-xs {
    text-align: right;
  }

  .no-border-xs {
    border-width: 0;
  }

  .pull-none-xs {
    float: none !important;
  }

  .pull-right-xs {
    float: right !important;
  }

  .pull-left-xs {
    float: left !important;
  }

  .dropdown-menu.pull-none-xs {
    left: 0;
  }

  .hidden-xs.show {
    display: inherit !important;
  }

  .wrapper-lg,
  .wrapper-md {
    padding: 15px;
  }

  .padder-lg,
  .padder-md {
    padding-left: 15px;
    padding-right: 15px;
  }

  .no-m-xs {
    margin: 0 !important;
  }

  .no-padder-xs {
    padding: 0 !important;
  }
}
