@import '../functions';

$remFactor: 16px;

$ns: 'antd-';

@import '../variables';
@import '../properties';

@import './antd-colors';
@import './components';

/* 此处放置需要override的变量，因为部分变量已经在variables.scss中定义 */
$Table-strip-bg: transparent;

:root {
  --fontFamilyBase: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --lineHeightBase: 1.57;

  --borderColor: #d9d9d9;
  --text-color: var(--colors-neutral-text-1);

  --text--muted-color: #999;
  --text--loud-color: #333;
  --link-onHover-decoration: none;

  --icon-color: inherit;
  --icon-onHover-color: var(--primary);

  --body-bg: #f0f2f5;

  --borderRadius: 2px;

  --Page-header-bg: #fff;

  --Button-boxShadow: none;
  --Button-onActive-boxShadow: none;
  --Button-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  // --Button-textShadow: 0 -1px 0 rgb(0 0 0 / 12%);
  --Button--default-border: #d9d9d9;
  --Button--default-onHover-border: var(--colors-brand-6);
  --Button--default-onHover-bg: #fff;
  --Button--default-onHover-color: var(--colors-brand-6);
  --Button--default-onActive-bg: #fff;
  --Button--default-onActive-border: var(--colors-brand-4);
  --Button--default-onActive-color: var(--colors-brand-4);
  --Button-onDisabled-borderColor: #d9d9d9;

  --Button--primary-onHover-bg: var(--colors-brand-6);
  --Button--primary-onHover-border: var(--colors-brand-6);

  --Card-onChecked-bg: var(--colors-brand-10);
  --Card-onChecked-color: var(--body-color);
  --Card-onChecked-fieldLabel-color: var(--text--muted-color);
  --Card-onChecked-borderColor: var(--colors-brand-6);

  --Calendar-btnCancel-bg: #fff;
  --Calendar-btnCancel-border: var(--Button--default-border);

  --Checkbox-onDisabled-color: #d9d9d9;
  --Checkbox-onDisabled-bg: #f5f5f5;

  --Radio-onDisabled-color: #c4c4c4;
  --Radio-onDisabled-bg: #f5f5f5;
  --Radio-onFocus-boxShadow: 0 0 0 3px rgb(24 144 255 / 8%);

  --Rating-onActive-color: #fadb14;

  --Panel--default-bg: #fff;

  --Layout-aside-bg: #001529;
  --Layout-brand-bg: #001529;
  --Layout-aside-color: hsla(0, 0%, 100%, 0.65);
  --Layout-aside-subList-bg: #000c17;
  --Layout-aside-onHover-bg: none;
  --Layout-aside-onAcitve-bg: #1890ff;

  --ListControl-item-onHover-color: var(--primary);
  --ListControl-item-onHover-bg: var(--Button--default-onHover-bg);
  --ListControl-item-onHover-borderColor: var(--primary);

  --ListItem-onChecked-bg: var(--colors-brand-10);
  --ListItem--strip-bg: #fff;

  --Nav-item-onActive-borderLeft: 0;

  --Modal-header-bg: #fff;
  --Modal-title-fontWeight: 500;
  --Modal-body-paddingY: var(--sizes-size-0);
  --Modal-body-paddingX: var(--sizes-size-0);
  --Modal-body-borderTop: 1px var(--colors-neutral-line-7) solid;
  --Modal-body-borderBottom: 1px var(--colors-neutral-line-7) solid;

  --Form-item-fontSize: var(--fontSizeBase);
  --Form-item-fontColor: var(--body-color);
  --Form-input-onFocused-borderColor: var(--colors-brand-6);
  --Form-input-borderColor: var(--colors-neutral-line-8);
  --Form-input-boxShadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  --Form-select-borderWidth: #{px2rem(1px)};
  --Form-select-borderRadius: 0;
  --Form-select-borderColor: var(--colors-neutral-line-8);
  --Form-select-bg: var(--white);
  --Form-select-onHover-bg: var(--white);
  --Form-select-onHover-borderColor: var(--colors-brand-6);
  --Form-select-placeholderColor: #999;
  --Form-select-color: #000;
  --Form-select-caret-iconColor: #999;
  --Form-select-caret-onHover-iconColor: var(--primary);
  --Form-select-caret-fontSize: #{px2rem(12px)};
  --Form-select-outer-borderWidth: 0;
  --Form-select-outer-top: #{px2rem(32px)};
  --Form-select-outer-boxShadow: 0 3px 6px -4px rgb(0 0 0 / 12%),
    0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  --Form-select-menu-color: #333;
  --Form-select-menu-onHover-color: #000;
  --Form-select-menu-onHover-bg: #f5f5f5;
  --Form-select-menu-height: #{px2rem(24px)};
  --Form-select-popoverGap: #{px2rem(3px)};
  --Form-select-search-height: #{px2rem(30px)};
  --Form-selectValue-color: var(--primary);
  --Form-select-onFocus-boxShadow: 0 0 0 3px rgb(24 144 255 / 8%);

  --Page-aside-bg: #ffffff;

  --Pagination-onActive-backgroundColor: #fff;
  --Pagination-onActive-color: rgb(24, 144, 255);
  --Pagination-onActive-border: #{px2rem(1px)} solid var(--primary);

  --Transfer-title-bg: #f0f2f5;
  // Tabs
  --Tabs-linkFontSize: #{px2rem(14px)};
  --Tabs--card-bg: var(--Table-thead-bg);
  --Tabs--radio-bg: var(--white);
  --Tabs--vertical-onActive-bg: #e7f7ff;
  --Tabs--vertical-onActive-borderWidth: 0 3px 0 0;
  --Tabs--vertical-onActive-container-bg: #fff;
  --Tabs--vertical-onActive-container-borderRight: 1px solid #f0f0f0;

  --Table-strip-bg: #{$Table-strip-bg};
  --Table-thead-bg: #fafafa;
  --Table-onHover-bg: rgb(250, 250, 250);
  --Table-onHover-borderColor: var(--Table-borderColor);
  --Table-onChecked-bg: var(--colors-brand-10);
  --Table-onChecked-color: var(--Table-color);
  --Table-onChecked-borderColor: var(--Table-borderColor);

  --Switch-bgColor: #bfbfbf;

  // tree
  --Tree-item-onChekced-bg: #bae7ff;
  --Tree-item-onChekced-bg-borderRadius: #{px2rem(2px)};
  --Tree-itemHeight: #{px2rem(24px)};
  --Tree-icon-gap: var(--gap-sm);

  // steps
  --Steps-line-bg: var(--colors-neutral-text-7);

  // Avatar
  --Avatar-bg: var(--colors-neutral-fill-7);
}
