$ns: 'cxd-';
:root {
  --colors-neutral-fill-none: translate;
  --colors-error-1: #590410;
  --colors-error-2: #800d18;
  --colors-error-3: #a61922;
  --colors-error-4: #cc292e;
  --colors-error-5: #f23d3d;
  --colors-error-6: #ff6966;
  --colors-error-7: #ff908c;
  --colors-error-8: #ffb6b3;
  --colors-error-9: #ffdbd9;
  --colors-error-10: #ffe8e6;
  --colors-warning-1: #662500;
  --colors-warning-2: #8c3800;
  --colors-warning-3: #b35209;
  --colors-warning-4: #d97116;
  --colors-warning-5: #ff9326;
  --colors-warning-6: #ffab52;
  --colors-warning-7: #ffc27d;
  --colors-warning-8: #ffd8a8;
  --colors-warning-9: #ffecd4;
  --colors-warning-10: #fff4e6;
  --colors-success-1: #012600;
  --colors-success-2: #054d00;
  --colors-success-3: #0b7300;
  --colors-success-4: #1b9908;
  --colors-success-5: #30bf13;
  --colors-success-6: #54cc39;
  --colors-success-7: #7bd964;
  --colors-success-8: #a5e693;
  --colors-success-9: #d1f2c7;
  --colors-success-10: #ecffe6;
  --colors-link-1: #001259;
  --colors-link-2: #001e80;
  --colors-link-3: #0832a6;
  --colors-link-4: #144bcc;
  --colors-link-5: #2468f2;
  --colors-link-6: #528eff;
  --colors-link-7: #7dadff;
  --colors-link-8: #a8caff;
  --colors-link-9: #d4e5ff;
  --colors-link-10: #e6f0ff;
  --colors-info-1: #001259;
  --colors-info-2: #001e80;
  --colors-info-3: #0832a6;
  --colors-info-4: #144bcc;
  --colors-info-5: #2468f2;
  --colors-info-6: #528eff;
  --colors-info-7: #7dadff;
  --colors-info-8: #a8caff;
  --colors-info-9: #d4e5ff;
  --colors-info-10: #e6f0ff;
  --colors-other-1: #001259;
  --colors-other-2: #001e80;
  --colors-other-3: #0832a6;
  --colors-other-4: #144bcc;
  --colors-other-5: #2468f2;
  --colors-other-6: #528eff;
  --colors-other-7: #7dadff;
  --colors-other-8: #a8caff;
  --colors-other-9: #d4e5ff;
  --colors-other-10: #e6f0ff;
  --colors-brand-1: #001259;
  --colors-brand-2: #001e80;
  --colors-brand-3: #0832a6;
  --colors-brand-4: #144bcc;
  --colors-brand-5: #2468f2;
  --colors-brand-6: #528eff;
  --colors-brand-7: #7dadff;
  --colors-brand-8: #a8caff;
  --colors-brand-9: #d4e5ff;
  --colors-brand-10: #e6f0ff;
  --colors-neutral-text-1: #070c14;
  --colors-neutral-text-2: #151b26;
  --colors-neutral-text-3: #303540;
  --colors-neutral-text-4: #5c5f66;
  --colors-neutral-text-5: #84878c;
  --colors-neutral-text-6: #b8babf;
  --colors-neutral-text-7: #d4d6d9;
  --colors-neutral-text-8: #e8e9eb;
  --colors-neutral-text-9: #f2f3f5;
  --colors-neutral-text-10: #f7f8fa;
  --colors-neutral-text-11: #ffffff;
  --colors-neutral-fill-none: transparent;
  --colors-neutral-fill-1: #070c14;
  --colors-neutral-fill-2: #151b26;
  --colors-neutral-fill-3: #303540;
  --colors-neutral-fill-4: #5c5f66;
  --colors-neutral-fill-5: #84878c;
  --colors-neutral-fill-6: #b8babf;
  --colors-neutral-fill-7: #d4d6d9;
  --colors-neutral-fill-8: #e8e9eb;
  --colors-neutral-fill-9: #f2f3f5;
  --colors-neutral-fill-10: #f7f8fa;
  --colors-neutral-fill-11: #ffffff;
  --colors-neutral-line-1: #070c14;
  --colors-neutral-line-2: #151b26;
  --colors-neutral-line-3: #303540;
  --colors-neutral-line-4: #5c5f66;
  --colors-neutral-line-5: #84878c;
  --colors-neutral-line-6: #b8babf;
  --colors-neutral-line-7: #d4d6d9;
  --colors-neutral-line-8: #e8e9eb;
  --colors-neutral-line-9: #f2f3f5;
  --colors-neutral-line-10: #f7f8fa;
  --colors-neutral-line-11: #ffffff;
  --fonts-base-family: -apple-system, BlinkMacSystemFont, SF Pro SC, SF Pro Text,
    Helvetica Neue, Helvetica, PingFang SC, Segoe UI, Roboto, Hiragino Sans GB,
    Arial, microsoft yahei ui, Microsoft YaHei, SimSun, sans-serif;
  --fonts-size-1: 48px;
  --fonts-size-2: 40px;
  --fonts-size-3: 32px;
  --fonts-size-4: 24px;
  --fonts-size-5: 18px;
  --fonts-size-6: 16px;
  --fonts-size-7: 14px;
  --fonts-size-8: 12px;
  --fonts-size-9: 12px;
  --fonts-weight-1: 900;
  --fonts-weight-2: 800;
  --fonts-weight-3: 700;
  --fonts-weight-4: 600;
  --fonts-weight-5: 500;
  --fonts-weight-6: 400;
  --fonts-weight-7: 300;
  --fonts-weight-8: 200;
  --fonts-weight-9: 100;
  --fonts-lineHeight-1: 1.3;
  --fonts-lineHeight-2: 1.5;
  --fonts-lineHeight-3: 1.7;
  --borders-style-1: none;
  --borders-style-2: solid;
  --borders-style-3: dashed;
  --borders-style-4: dotted;
  --borders-width-1: 0px;
  --borders-width-2: 1px;
  --borders-width-3: 2px;
  --borders-width-4: 4px;
  --borders-radius-1: 0px;
  --borders-radius-2: 2px;
  --borders-radius-3: 4px;
  --borders-radius-4: 6px;
  --borders-radius-5: 8px;
  --borders-radius-6: 10px;
  --borders-radius-7: 50%;
  --sizes-size-0: 0rem;
  --sizes-size-1: auto;
  --sizes-size-2: 0.125rem;
  --sizes-size-3: 0.25rem;
  --sizes-size-4: 0.375rem;
  --sizes-size-5: 0.5rem;
  --sizes-size-6: 0.625rem;
  --sizes-size-7: 0.75rem;
  --sizes-size-8: 0.875rem;
  --sizes-size-9: 1rem;
  --sizes-base-2: 0.125rem;
  --sizes-base-3: 0.25rem;
  --sizes-base-4: 0.375rem;
  --sizes-base-5: 0.5rem;
  --sizes-base-6: 0.625rem;
  --sizes-base-7: 0.75rem;
  --sizes-base-8: 0.875rem;
  --sizes-base-9: 1rem;
  --sizes-base-10: 1.125rem;
  --sizes-base-11: 1.25rem;
  --sizes-base-12: 1.375rem;
  --sizes-base-13: 1.5rem;
  --sizes-base-14: 1.625rem;
  --sizes-base-15: 1.75rem;
  --sizes-base-16: 1.875rem;
  --sizes-base-17: 2rem;
  --sizes-base-18: 2.125rem;
  --sizes-base-19: 2.25rem;
  --sizes-base-20: 2.375rem;
  --sizes-base-21: 2.5rem;
  --sizes-base-22: 2.625rem;
  --sizes-base-23: 2.75rem;
  --sizes-base-24: 2.875rem;
  --sizes-base-25: 3rem;
  --sizes-base-26: 3.125rem;
  --sizes-base-27: 3.25rem;
  --sizes-base-28: 3.375rem;
  --sizes-base-29: 3.5rem;
  --sizes-base-30: 3.625rem;
  --sizes-base-31: 3.75rem;
  --sizes-base-32: 3.875rem;
  --sizes-base-33: 4rem;
  --sizes-base-34: 4.125rem;
  --sizes-base-35: 4.25rem;
  --sizes-base-36: 4.375rem;
  --sizes-base-37: 4.5rem;
  --sizes-base-38: 4.625rem;
  --sizes-base-39: 4.75rem;
  --sizes-base-40: 4.875rem;
  --sizes-base-41: 5rem;
  --sizes-base-42: 5.125rem;
  --sizes-base-43: 5.25rem;
  --sizes-base-44: 5.375rem;
  --sizes-base-45: 5.5rem;
  --sizes-base-46: 5.625rem;
  --sizes-base-47: 5.75rem;
  --sizes-base-48: 5.875rem;
  --sizes-base-49: 6rem;
  --sizes-base-50: 6.125rem;
  --sizes-base-51: 6.25rem;
  --shadows-shadow-none: 0px 0px 0px 0px transparent;
  --shadows-shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadows-shadow-normal: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  --shadows-shadow-md: 0px 4px -1px 0px rgba(0, 0, 0, 0.1),
    0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadows-shadow-lg: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadows-shadow-xl: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
    0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadows-shadow-2xl: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}
