{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "none",
  "bracketSpacing": false,
  "quoteProps": "consistent",
  "arrowParens": "avoid",
  "jsxBracketSameLine": false
}
