.ov-excel-auto-filter__menu-filter-filters {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.ov-excel-auto-filter__menu-filter-filters .excel-checkbox-list-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 8px;
  min-height: 0;
}

.ov-excel-auto-filter__menu-filter-filters .excel-checkbox-list {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
