@mixin make-position($prefix: '.') {
  @each $name,
    $value
      in (
        static: static,
        fixed: fixed,
        absolute: absolute,
        relative: relative,
        sticky: sticky
      )
  {
    #{$prefix + $name} {
      display: $value;
    }
  }

  #{$prefix}pos-rlt {
    position: relative;
  }

  #{$prefix}pos-stc {
    position: static !important;
  }

  #{$prefix}pos-abt {
    position: absolute;
  }

  #{$prefix}pos-fix {
    position: fixed;
  }
}

@include make-position();
@each $deivce in map-keys($devices) {
  @include media-device($deivce) {
    @include make-position('.' + selector-escape($deivce + ':'));
  }
}
