/*!markdown

---
title: Grid Template Rows
---

| Class       | Properties               |
| ----------- | ------------------------ |
| grid-rows-1 | grid-template-rows: repeat(1, minmax(0, 1fr)) |
| grid-rows-2 | grid-template-rows: repeat(2, minmax(0, 1fr)) |
| grid-rows-3 | grid-template-rows: repeat(3, minmax(0, 1fr)) |
| grid-rows-4 | grid-template-rows: repeat(4, minmax(0, 1fr)) |
| grid-rows-5 | grid-template-rows: repeat(5, minmax(0, 1fr)) |
| grid-rows-6 | grid-template-rows: repeat(6, minmax(0, 1fr)) |
| grid-rows-none | grid-template-rows: none |


*/
@mixin make-grid-rows($prefix: '.') {
  #{$prefix}grid-rows-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }

  #{$prefix}grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  #{$prefix}grid-rows-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }
  #{$prefix}grid-rows-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }
  #{$prefix}grid-rows-5 {
    grid-template-rows: repeat(5, minmax(0, 1fr));
  }
  #{$prefix}grid-rows-6 {
    grid-template-rows: repeat(6, minmax(0, 1fr));
  }
  #{$prefix}grid-rows-none {
    grid-template-rows: none;
  }
}

@include make-grid-rows();
@each $deivce in map-keys($devices) {
  @include media-device($deivce) {
    @include make-grid-rows('.' + selector-escape($deivce + ':'));
  }
}
