/*!markdown

---
title: Flex Shrink
---

| Class       | Properties               |
| ----------- | ------------------------ |
| flex-shrink-0 | flex-shrink: 0 |
| flex-shrink | flex-shrink: 1 |

*/
@mixin make-flex-shrink($prefix: '.') {
  #{$prefix}flex-shrink-0 {
    flex-shrink: 0;
  }
  #{$prefix}flex-shrink {
    flex-shrink: 1;
  }
}

@include make-flex-shrink();
@each $deivce in map-keys($devices) {
  @include media-device($deivce) {
    @include make-flex-shrink('.' + selector-escape($deivce + ':'));
  }
}
