.#{$ns}Checkbox {
  margin: 0 var(--gap-sm) 0 0;
  font-weight: var(--fontWeightNormal);
  display: inline-block;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
  }

  > input {
    display: none;
  }

  > i {
    line-height: 1;
    background: var(--Checkbox-gb);
    display: inline-block;
    vertical-align: text-bottom;
    position: relative;
    pointer-events: all;
  }

  &.is-mobile {
    > i {
      + span {
        vertical-align: middle;
      }
    }
  }

  &--full.#{$ns}Checkbox--checkbox {
    &:not(:disabled) + i:hover {
      border-color: var(--Checkbox-color);
    }

    &:hover {
      input:checked + i {
        background: var(--button-primary-hover-bg-color);
        border-color: transparent;
      }

      & > i:before {
        background: transparent;
      }
    }

    &:active {
      input:checked + i {
        background: var(--Checkbox-checked-onHover-bgColor);
      }
    }

    input {
      &:checked + i {
        border-color: var(--Checkbox-onHover-color);
        background: var(--Checkbox-onHover-color);

        &:before {
          width: var(--Checkbox--full-inner-size);
          height: calc(var(--Checkbox--full-inner-size) / 2);
          border-color: #fff;
        }
      }

      &[disabled] + i {
        border-color: var(--Checkbox-color);
        background: var(--checkbox-checkbox-disabled-bg-color);
      }

      &[disabled]:checked + i {
        &:before {
          border-color: var(--Checkbox-onDisabled-color);
          border-width: 0 0 px2rem(1px) px2rem(1px);
        }
      }

      &:checked[disabled] + i {
        border-color: var(--Checkbox-color);
      }
    }

    > i {
      position: relative;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 0;
        height: 0;
        border-color: transparent;
        transition: width var(--animation-duration),
          height var(--animation-duration), transform var(--animation-duration);
        border-width: 0 0 px2rem(1px) px2rem(1px);
        transform: translate(-50%, -90%) rotate(-40deg);
        border-style: solid;
      }
    }
  }

  &--partial.#{$ns}Checkbox--checkbox {
    input {
      margin-left: calc(var(--Checkbox-size) * -1);

      & + i {
        border-color: var(--Checkbox-onHover-color);

        &:before {
          width: var(--Checkbox-inner-size);
          height: var(--Checkbox-inner-size);
        }
      }

      &[disabled] + i {
        border-color: var(--Checkbox-onDisabled-color);

        &:before {
          width: var(--Checkbox-inner-size);
          height: var(--Checkbox-inner-size);
          background: var(--Checkbox-inner-onDisabled-bg);
        }
      }

      &:checked[disabled] + i {
        width: var(--Checkbox-inner-size);
        height: var(--Checkbox-inner-size);
        background: var(--Checkbox-onDisabled-bg);
      }
    }
  }

  @mixin checkbox-default-style($type) {
    font-size: var(#{$type}-fontSize);
    color: var(#{$type}-text-color);
    > i {
      width: var(#{$type}-height);
      height: var(#{$type}-height);
      border-width: borderWidth(#{$type});
      border-style: borderStyle(#{$type});
      border-color: borderColor(#{$type});
      border-radius: radius(#{$type});
      background: var(#{$type}-bg-color);
    }
  }

  &--checkbox--default {
    font-weight: var(--checkbox-checkbox-default-fontWeight);
    @include checkbox-default-style(--checkbox-checkbox-default);
    > i {
      margin-right: var(--checkbox-checkbox-default-distance);
      .icon {
        height: var(--checkbox-checked-default-icon-size);
        width: var(--checkbox-checked-default-icon-size);
        color: var(--checkbox-checked-default-icon-color);
        transition: all var(--animation-duration);
        transform: scale(0);
      }
    }

    &:hover:not(.disabled):not(.checked) {
      @include checkbox-default-style(--checkbox-checkbox-hover);
    }
    &:active:not(.disabled):not(.checked) {
      @include checkbox-default-style(--checkbox-checkbox-active);
    }
  }
  &--checkbox--default--checked {
    @include checkbox-default-style(--checkbox-checked-default);
    > i {
      .icon {
        transform: scale(1);
      }
    }
    &:hover:not(.disabled) {
      @include checkbox-default-style(--checkbox-checked-hover);
    }
    &:active:not(.disabled) {
      @include checkbox-default-style(--checkbox-checked-active);
    }
  }
  &--checkbox--default--disabled--unchecked {
    @include checkbox-default-style(--checkbox-checkbox-disabled);
  }
  &--checkbox--default--disabled--checked {
    @include checkbox-default-style(--checkbox-checked-disabled);
    > i {
      .icon {
        transform: scale(1);
        color: var(--checkbox-checked-disabled-icon-color);
      }
    }
  }

  @mixin checkbox-button-style($type) {
    border-color: borderColor(#{$type});
    color: var(#{$type}-color);
    > i {
      width: var(#{$type}-icon-bg-size);
      height: var(#{$type}-icon-bg-size);
      background-color: var(#{$type}-icon-bg-color);
      .icon {
        width: var(#{$type}-icon-size);
        height: var(#{$type}-icon-size);
        color: var(#{$type}-icon-color);
      }
    }
  }

  &--checkbox--button {
    text-align: center;
    height: var(--checkbox-button-default-height);
    line-height: var(--checkbox-button-default-lineHeight);
    padding: padding(--checkbox-button-default);
    min-width: px2rem(80px);
    font-size: var(--checkbox-button-font-size);
    border-radius: 0;
    border-color: borderColor(--checkbox-button-default);
    border-width: borderWidth(--checkbox-button-default);
    border-style: borderStyle(--checkbox-button-default);
    margin-right: calc(
      var(--checkbox-button-default-right-border-width) * -1
    ) !important;
    position: relative;
    &.first {
      border-radius: var(--checkbox-button-default-top-left-border-radius) 0 0
        var(--checkbox-button-default-bottom-left-border-radius);
    }
    &.last {
      border-radius: 0 var(--checkbox-button-default-top-right-border-radius)
        var(--checkbox-button-default-bottom-right-border-radius) 0;
    }
    &.first.last {
      border-radius: var(--checkbox-button-default-top-left-border-radius)
        var(--checkbox-button-default-top-right-border-radius)
        var(--checkbox-button-default-bottom-right-border-radius)
        var(--checkbox-button-default-bottom-left-border-radius);
    }
    &.last-line {
      margin-bottom: 0 !important;
    }
    &:hover:not(.disabled):not(.checked) {
      color: var(--checkbox-button-hover-color);
      border-color: borderColor(--checkbox-button-hover);
      z-index: 1;
    }
  }
  &--checkbox--button--checked {
    z-index: 1;
    @include checkbox-button-style(--checkbox-button-checked);
    > i {
      position: absolute;
      top: 0;
      left: 0;
      clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
      .icon {
        transform: scale(0.8) translate(-20%, -20%);
      }
    }

    &:hover {
      @include checkbox-button-style(--checkbox-button-checked-hover);
    }
    &:active {
      @include checkbox-button-style(--checkbox-button-checked-active);
    }
  }
  &--checkbox--button--disabled--unchecked {
    color: var(--checkbox-button-disabled-unchecked-color);
    background: var(--checkbox-button-disabled-unchecked-bg-color);
    border-color: borderColor(--checkbox-button-disabled-unchecked);
  }
  &--checkbox--button--disabled--checked {
    background: var(--checkbox-button-disabled-checked-bg-color);
    @include checkbox-button-style(--checkbox-button-disabled-checked);
    > i {
      position: absolute;
      top: 0;
      left: 0;
      clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
      .icon {
        transform: scale(0.8) translate(-20%, -20%);
      }
    }
  }

  &--radio--default {
    color: var(--radio-default-default-text-color);
    font-size: var(--radio-default-default-fontSize);
    font-weight: var(--radio-default-default-fontWeight);
    line-height: var(--radio-default-default-lineHeight);

    > i {
      width: var(--radio-default-default-point-size);
      height: var(--radio-default-default-point-size);
      border: px2rem(1px) solid var(--radio-default-default-color);
      margin-top: px2rem(-2px);
      border-radius: 50%;
      background: var(--radio-default-default-bg-color);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      .icon {
        width: var(--radio-default-checked-icon-size);
        height: var(--radio-default-checked-icon-size);
        color: var(--radio-default-checked-color);
        transition: all var(--animation-duration);
        transform: scale(0);
        display: flex;
      }
    }
    > span {
      margin-left: var(--radio-default-default-distance);
    }

    &:hover:not(.disabled) {
      color: var(--radio-default-hover-text-color);
      > i {
        border-color: var(--radio-default-hover-color);
        background-color: var(--radio-default-hover-bg-color);
      }
    }
  }
  &--radio--default--checked {
    color: var(--radio-default-checked-text-color);
    > i {
      border-color: var(--radio-default-checked-color);
      background-color: var(--radio-default-checked-bg-color);
      .icon {
        transform: scale(1);
      }
    }
  }
  &--radio--default--disabled--unchecked {
    color: var(--radio-default-disabled-text-color);
    > i {
      border-color: var(--radio-default-disabled-color);
      background-color: var(--radio-default-disabled-bg-color);
    }
  }
  &--radio--default--disabled--checked {
    color: var(--radio-default-disabled-text-color);
    > i {
      border-color: var(--radio-default-disabled-color);
      background-color: var(--radio-default-disabled-bg-color);

      .icon {
        color: var(--radio-default-disabled-icon-color);
        transform: scale(1);
      }
    }
  }

  &--radio--button {
    text-align: center;
    height: var(--radio-button-default-height);
    line-height: var(--radio-button-default-lineHeight);
    padding: padding(--radio-button-default);
    min-width: px2rem(80px);
    font-size: var(--radio-button-font-size);
    border-radius: radius(--radio-button-default);
    border-color: borderColor(--radio-button-default);
    border-width: borderWidth(--radio-button-default);
    border-style: borderStyle(--radio-button-default);

    &:hover:not(.disabled):not(.checked) {
      color: var(--radio-button-hover-color);
      border-color: borderColor(--radio-button-hover);
    }
    > i {
      display: none;
    }
    span {
      margin-left: 0;
    }
  }
  &--radio--button--checked {
    color: var(--radio-button-checked-color);
    border-color: borderColor(--radio-button-checked);
    background-color: var(--radio-button-checked-bg-color);
  }
  &--radio--button--disabled--unchecked {
    color: var(--radio-button-disabled-unchecked-color);
    border-color: borderColor(--radio-button-disabled-unchecked);
    background: var(--radio-button-disabled-unchecked-bg-color);
  }
  &--radio--button--disabled--checked {
    color: var(--radio-button-disabled-checked-color);
    border-color: borderColor(--radio-button-disabled-checked);
    background: var(--radio-button-disabled-checked-bg-color);
  }

  &--sm {
    padding-left: var(--Checkbox--sm-size);

    input {
      margin-left: calc(var(--Checkbox--sm-size) * -1);

      &:checked + i {
        &:before {
          width: var(--Checkbox--sm-inner-size);
          height: var(--Checkbox--sm-inner-size);
        }
      }
    }

    > i {
      width: var(--Checkbox--sm-size);
      height: var(--Checkbox--sm-size);
      margin-left: calc(var(--Checkbox--sm-size) * -1);
      margin-top: 0;

      + span {
        margin-left: var(--gap-xs);
      }
    }
  }

  &--sm.#{$ns}Checkbox--full {
    input[type='checkbox'] {
      &:checked + i {
        &:before {
          width: var(--Checkbox--sm--full-inner-size);
          height: calc(var(--Checkbox--sm--full-inner-size) / 2);
        }
      }
    }
  }

  &-desc {
    color: var(--text--muted-color);
    margin-left: var(--Checkbox-gap);
    margin-top: var(--gap-xs);
    pointer-events: all;
  }
}

.#{$ns}Form-static .#{$ns}Checkbox {
  input {
    &[disabled]:checked + i {
      background: var(--Checkbox-onHover-bg);
      &:before {
        background: var(--Checkbox-onHover-bg);
        border-color: var(--Checkbox-onHover-bg);
      }
    }
  }
}

.#{$ns}CheckboxControl,
.#{$ns}RadiosControl,
.#{$ns}CheckboxesControl {
  padding-top: calc(
    (var(--Form-input-height) - var(--Checkbox-size)) / 2 - 3px
  ); // 3px 是空白的高度
}

.#{$ns}RadiosControl {
  .#{$ns}Checkbox {
    display: block;
    margin: var(--radio-default-vertical-marginTop)
      var(--radio-default-vertical-marginRight)
      var(--radio-default-vertical-marginBottom)
      var(--radio-default-vertical-marginLeft);
  }

  .#{$ns}Checkbox--button {
    margin-bottom: 0;

    &--disabled--unchecked {
      background: var(--FileControl-onDisabled-bg);
    }

    &-checked {
      &:active {
        border-color: var(--Checkbox-checked-onHover-bgColor);
      }
    }
  }

  &.is-inline .#{$ns}Checkbox {
    display: inline-block;
    margin: var(--radio-default-default-marginTop)
      var(--radio-default-default-marginRight)
      var(--radio-default-default-marginBottom)
      var(--radio-default-default-marginLeft);
  }

  &.is-inline .#{$ns}Checkbox--button {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.#{$ns}CheckboxesControl {
  .#{$ns}Checkbox {
    display: block;
    margin-bottom: var(--Form-label-paddingTop);
  }

  .#{$ns}Checkbox--button {
    margin-bottom: 0;

    &--disabled--unchecked {
      background: var(--FileControl-onDisabled-bg);
    }

    &-checked {
      &:active {
        border-color: var(--Checkbox-checked-onHover-bgColor);
      }
    }
  }

  &.is-inline .#{$ns}Checkbox {
    display: inline-block;
    margin-right: var(--gap-md);
  }

  &.is-inline .#{$ns}Checkbox--button {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 0;
  }

  .#{$ns}Checkboxes-addBtn {
    > svg {
      width: px2rem(14px);
      height: px2rem(14px);
      margin-right: var(--Checkbox-gap);
    }
  }
}

.#{$ns}RadiosControl-group,
.#{$ns}CheckboxesControl-group {
  &:not(:first-child) {
    margin-top: px2rem(10px);
  }

  .#{$ns}RadiosControl-groupLabel,
  .#{$ns}CheckboxesControl-groupLabel {
    display: block;
    font-size: var(--fontSizeSm);
    color: #999;
  }
}

.#{$ns}RadiosControl {
  .#{$ns}Button:active,
  .#{$ns}Button.is-active {
    background: var(--ButtonGroup--primary-isActive-bg);
  }
}
.#{$ns}Grid {
  > div > .#{$ns}Checkbox--checkbox--button {
    border-radius: radius(--checkbox-button-default);
  }
}

.checkbox-icon {
  content: var(--checkbox-checked-default-icon);
}

.radio-icon {
  content: var(--radio-default-checked-icon);
}
