.#{$ns}Combo {
  &-placeholder {
    color: var(--text--muted-color);
    padding-top: var(--Form-label-paddingTop);
  }

  &-toolbarBtn {
    line-height: var(--Combo-toolbarBtn-lineHeight);
    height: var(--Combo-toolbarBtn-height);
    color: var(--Combo-toolbarBtn-color);
    padding: var(--Combo-toolbarBtn-paddingY) var(--Combo-toolbarBtn-paddingX);
    cursor: pointer;

    &:hover {
      color: var(--Combo-toolbarBtn-onHover-color);
    }
  }

  &-setNullBtn {
    margin-top: var(--gap-xs);
    display: inline-block;
  }
  &-itemInner {
    margin-right: px2rem(12px);
  }

  &-delBtn {
    color: var(--combo-multi-delBtn-color);
    cursor: pointer;

    &:hover {
      color: var(--combo-multi-delBtn-hover-color);
    }
  }

  .#{$ns}Tabs--radio .is-active &-tab-delBtn {
    color: var(--Tabs--radio-active-color);
    &:hover {
      color: var(--Tabs--radio-active-color);
    }
  }

  &-tab-delBtn {
    color: var(--combo-multi-delBtn-color);
    cursor: pointer;
    margin-left: var(--gap-sm);
    display: inline-block;

    > svg {
      width: px2rem(14px);
      height: px2rem(14px);
    }

    &:hover {
      color: var(--combo-multi-delBtn-hover-color);
    }
  }

  &-items {
    &:empty {
      display: none;

      + .#{$ns}Combo-toolbar {
        padding-top: calc(
          (var(--Form-input-height) - var(--Combo-addBtn-height)) / 2
        );
      }
    }

    margin-bottom: var(--Combo-items-marginBottom);
  }

  &-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:empty {
      display: none;
    }
  }

  // &-pager {

  // }

  &-item {
    background: var(--combo-bg-color);
  }

  &-itemDrager {
    cursor: move;

    > a {
      color: var(--icon-color);

      &:hover {
        color: var(--icon-onHover-color);
      }
    }

    svg {
      width: px2rem(16px);
      height: px2rem(16px);
    }
  }

  &--hor {
    .#{$ns}Combo-item {
      display: flex;
      flex-wrap: nowrap;
    }

    .#{$ns}Combo-item + .#{$ns}Combo-item {
      margin-top: var(--Combo--horizontal-item-gap);
    }

    .#{$ns}Combo-itemInner {
      flex-basis: 0;
      flex-grow: 1;
    }

    .#{$ns}Combo-itemTag {
      margin-right: var(--gap-sm);

      label {
        color: var(--info);
        margin-right: var(--gap-sm);
      }
    }

    .#{$ns}Combo-delBtn {
      margin-left: var(--gap-xs);
      display: flex;
      white-space: nowrap;
      align-items: flex-start;
      padding-top: var(--Form-label-paddingTop);
      height: px2rem(30px);

      &.is-disabled {
        pointer-events: none;
        opacity: var(--Button-onDisabled-opacity);
      }
    }

    .#{$ns}Combo-delController {
      margin-left: var(--gap-xs);
    }

    &.is-draggable .#{$ns}Combo-toolbar {
      padding-left: px2rem(24px);
    }

    .#{$ns}Combo-itemDrager {
      padding: var(--Combo--horizontal-dragger-top) px2rem(6px) 0 0;
      display: flex;
      align-items: center;
    }
  }

  // &--ver {
  //   .#{$ns}Combo-item {
  //     background: var(--white);
  //   }
  // }

  &--ver:not(&--noBorder) {
    @include clearfix();
    > .#{$ns}Combo-items {
      margin: calc(var(--Combo--vertical-item-gap) * -2)
        calc(var(--Combo--vertical-item-gap) * -2) 0
        calc(var(--Combo--vertical-item-gap) * -2);

      > .#{$ns}Combo-placeholder {
        margin: calc(var(--Combo--vertical-item-gap) * 2);
      }
    }

    .#{$ns}Combo-itemTag {
      text-align: right;

      label {
        color: var(--info);
        margin-right: var(--gap-sm);
      }
    }

    // 不严格点会命中 combo 里面嵌套 combo 的情况，so sad.
    > .#{$ns}Combo-item,
    > .#{$ns}Combo-items > .#{$ns}Combo-item {
      border-color: var(--Combo--vertical-item-borderColor);
      border-width: var(--Combo--vertical-item-borderWidth);
      border-style: var(--Combo--vertical-item-borderStyle);
      border-radius: var(--Combo--vertical-item-borderRadius);
      padding: var(--combo-vertical-paddingTop)
        var(--combo-vertical-paddingRight) var(--combo-vertical-paddingBottom)
        var(--combo-vertical-paddingLeft);
      position: relative;

      &.has-error {
        border-color: var(
          --Combo--vertical-item--onError-borderColor
        ) !important; // 因为下面的规则权重更高 &:not(.is-disabled) > .#{$ns}Combo-items > .#{$ns}Combo-item:hover
      }
    }

    > .#{$ns}Combo-items > .#{$ns}Combo-item {
      margin: calc(var(--Combo--vertical-item-gap) * 2);
    }

    > .#{$ns}Combo-items > .#{$ns}Combo-item > .#{$ns}Combo-delBtn {
      position: absolute;
      opacity: 0;
      top: var(--gap-xs);
      right: var(--gap-xs);
    }

    &:not(.is-disabled) > .#{$ns}Combo-item:hover,
    &:not(.is-disabled) > .#{$ns}Combo-items > .#{$ns}Combo-item:hover {
      border-color: var(--Combo--vertical-item-onHover-borderColor);
      border-width: var(--combo-vertical-hover-top-border-width)
        var(--combo-vertical-hover-right-border-width)
        var(--combo-vertical-hover-bottom-border-width)
        var(--combo-vertical-hover-left-border-width);
      border-style: var(--combo-vertical-hover-top-border-style)
        var(--combo-vertical-hover-right-border-style)
        var(--combo-vertical-hover-bottom-border-style)
        var(--combo-vertical-hover-left-border-style);

      > .#{$ns}Combo-delBtn,
      > .#{$ns}Combo-delController {
        opacity: 1;
      }
    }

    .#{$ns}Combo-delController {
      position: absolute;
      top: var(--gap-xs);
      right: var(--gap-xs);
      opacity: 0;
    }

    > .#{$ns}Combo-items > .#{$ns}Combo-item > .#{$ns}Combo-itemDrager {
      position: absolute;
      top: var(--Combo--horizontal-dragger-top);
      left: px2rem(-30px);
      display: flex;
      align-items: center;
    }

    &.is-draggable {
      > .#{$ns}Combo-items > .#{$ns}Combo-item {
        margin-left: px2rem(35px);
      }
      > .#{$ns}Combo-toolbar {
        padding-left: px2rem(25px);
      }
    }
  }

  &-item--dragging {
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 5;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  &.is-mobile {
    .#{$ns}Form-item {
      .#{$ns}Form-rowInner {
        min-width: 0;
        min-height: 0;
        flex: 1;
      }
    }

    .#{$ns}Combo-delBtn {
      height: px2rem(20px);
      padding-top: 0;
    }

    .#{$ns}Combo-item {
      align-items: center;
      position: relative;

      &::before {
        @include hairline-bottom(var(--borderColor));
      }
    }
  }

  &.is-mobile:not(.#{$ns}Combo--ver) {
    .#{$ns}TextareaControl > textarea,
    .#{$ns}Form-control > .#{$ns}TextControl-input,
    .#{$ns}TextControl.is-focused > .#{$ns}TextControl-input {
      border-bottom: var(--Form-input-borderWidth) solid var(--borderColor);
    }
  }
}

.#{$ns}ComboTabs {
  border-left: var(--Form-input-borderWidth) solid var(--borderColor);
  border-right: var(--Form-input-borderWidth) solid var(--borderColor);
  border-bottom: var(--Form-input-borderWidth) solid var(--borderColor);
}

.#{$ns}ComboTabs > .#{$ns}Tabs-links {
  @include clearfix();
  .#{$ns}Tabs-link {
    > a {
      word-break: break-all;
    }
  }
}

.#{$ns}ComboTabs-addLink {
  float: right;
  > a svg {
    margin-right: var(--gap-xs);
    top: 0;
  }
}

.#{$ns}Combo-dragableTip {
  color: var(--text--muted-color);
  font-size: var(--fontSizeSm);
  margin-left: var(--gap-xs);

  &:empty {
    display: none;
  }
}

.#{$ns}ComboControl.is-inline {
  .#{$ns}Combo--hor .#{$ns}Combo-itemInner {
    flex-grow: unset;
    flex-basis: unset;
  }

  .#{$ns}Combo--ver .#{$ns}Combo-item {
    display: inline-block;
    min-width: var(--Form-control-widthBase);
  }
}

@include media-breakpoint-up(sm) {
  .#{$ns}Combo-form .#{$ns}Form-item:last-child {
    margin-bottom: 0;
  }
}
