.#{$ns}Switch {
  cursor: pointer;
  position: relative;
  display: inline-block;
  height: var(--switch-size-default-height);
  min-width: var(--switch-size-default-minWidth);
  overflow: hidden;
  border-radius: var(--switch-size-default-top-left-border-radius)
    var(--switch-size-default-top-right-border-radius)
    var(--switch-size-default-bottom-right-border-radius)
    var(--switch-size-default-bottom-left-border-radius);
  background: var(--switch-default-off-bg-color);
  margin: 0;
  vertical-align: middle;
  text-align: left;
  transition: all 0.5s ease;

  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  .text {
    margin: var(--switch-text-off-marginTop) var(--switch-text-off-marginRight)
      var(--switch-text-off-marginBottom) var(--switch-text-off-marginLeft);
    color: var(--switch-text-off-color);
    text-indent: var(--gap-xs);
    text-transform: uppercase;
    font-size: var(--switch-text-off-fontSize);
    font-weight: var(--switch-text-off-fontWeight);
    line-height: var(--switch-size-default-height);
    vertical-align: super;
    font-style: normal;
    transition: all var(--animation-duration);

    > svg {
      width: var(--switch-text-off-fontSize);
      height: var(--switch-text-off-fontSize);
      margin-top: calc(
        (var(--switch-text-off-lineHeight) - var(--switch-text-off-fontSize)) /
          2
      );
    }
  }

  .slider {
    &:before {
      content: '';
      position: absolute;
      background: var(--switch-default-off-slider-color);
      width: var(--switch-size-default-slider-width);
      top: var(--switch-size-default-slider-margin);
      bottom: var(--switch-size-default-slider-margin);
      left: var(--switch-size-default-slider-margin);
      border-radius: 50%;
      transition: all 0.5s ease;
    }
  }

  &:hover {
    background: var(--switch-default-off-hover-bg-color);
  }

  &.is-checked {
    background: var(--switch-default-on-bg-color);

    .slider::before {
      left: calc(
        100% - var(--switch-size-default-slider-width) -
          var(--switch-size-default-slider-margin)
      );
      right: var(--switch-size-default-slider-margin);
      border-width: 0;
      background: var(--switch-default-on-slider-color);
    }

    .text {
      margin: var(--switch-text-on-marginTop) var(--switch-text-on-marginRight)
        var(--switch-text-on-marginBottom) var(--switch-text-on-marginLeft);
      color: var(--switch-text-on-color);
      font-size: var(--switch-text-on-fontSize);
      font-weight: var(--switch-text-on-fontWeight);
    }

    &:hover {
      background: var(--switch-default-on-hover-bg-color);
    }

    &:active {
      background: var(--Switch-checked-onActive-bgColor);
      .slider::before {
        left: calc(
          100% - (var(--switch-size-default-height) + #{px2rem(2px)}) - #{px2rem(
              2px
            )}
        );
      }
    }
  }

  &.is-checked.is-disabled {
    .slider:before {
      color: var(--Switch-onDisabled-color);
    }

    .text {
      color: var(--Switch-onDisabled-color);
    }
  }

  input {
    position: absolute;
    opacity: 0;
  }

  &--sm {
    height: var(--switch-size-sm-height);
    min-width: var(--switch-size-sm-minWidth);
    border-radius: var(--switch-size-sm-top-left-border-radius)
      var(--switch-size-sm-top-right-border-radius)
      var(--switch-size-sm-bottom-right-border-radius)
      var(--switch-size-sm-bottom-left-border-radius);

    .text {
      line-height: var(--switch-size-sm-height);

      > svg {
        margin-top: calc(
          (var(--switch-size-sm-height) - var(--fontSizeSm)) / 2
        );
      }
    }

    .slider::before {
      width: var(--switch-size-sm-slider-width);
      top: var(--switch-size-sm-slider-margin);
      bottom: var(--switch-size-sm-slider-margin);
      left: var(--switch-size-sm-slider-margin);
      right: auto;
    }

    &.is-checked {
      .slider::before {
        left: calc(
          100% - var(--switch-size-sm-slider-width) -
            var(--switch-size-sm-slider-margin)
        );
        right: var(--switch-size-sm-slider-margin);
      }
    }
  }

  &:active {
    .slider::before {
      width: calc(var(--switch-size-default-height) + #{px2rem(2px)});
      border-radius: 10px;
    }
  }
}

.#{$ns}Switch-option {
  vertical-align: middle;
  font-size: var(--switch-option-fontSize);
  font-weight: var(--switch-option-fontWeight);
  line-height: var(--switch-option-lineHeight);
  color: var(--switch-option-color);
  margin: var(--switch-option-marginTop) var(--switch-option-marginRight)
    var(--switch-option-marginBottom) var(--switch-option-marginLeft);

  &:first-child {
    margin-left: 0;
    margin-right: var(--Switch-gap);
  }

  &:empty {
    display: none;
  }
}

.#{$ns}Form-static {
  .#{$ns}Switch-option {
    vertical-align: initial;
    color: var(--text--muted-color);
  }
}

.#{$ns}SwitchControl {
  padding-top: calc(
    (var(--Form-input-height) - var(--switch-size-default-height)) / 2
  );

  &.is-inline {
    display: inline-block;
  }
}
