/*!markdown

---
title: Flex Wrap
---

| Class       | Properties               |
| ----------- | ------------------------ |
| flex-wrap | flex-wrap: wrap |
| flex-wrap-reverse | flex-wrap: wrap-reverse |
| flex-nowrap | flex-wrap: nowrap |


*/
@mixin make-flex-wrap($prefix: '.') {
  #{$prefix}flex-wrap {
    flex-wrap: wrap;
  }

  #{$prefix}flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  #{$prefix}flex-nowrap {
    flex-wrap: nowrap;
  }
}

@include make-flex-wrap();
@each $deivce in map-keys($devices) {
  @include media-device($deivce) {
    @include make-flex-wrap('.' + selector-escape($deivce + ':'));
  }
}

// hover ?
