/*!markdown

---
title: Word Break
---

| Class       | Properties               |
| ----------- | ------------------------ |
| break-normal | overflow-wrap: normal; word-break: normal |
| break-words | overflow-wrap: break-word |
| break-all | word-break: break-all |



*/
@mixin make-word-break($prefix: '.') {
  #{$prefix}break-normal {
    overflow-wrap: normal;
    word-break: normal;
  }
  #{$prefix}break-words {
    overflow-wrap: break-word;
  }
  #{$prefix}break-all {
    word-break: break-all;
  }
}

@include make-word-break();
@each $deivce in map-keys($devices) {
  @include media-device($deivce) {
    @include make-word-break('.' + selector-escape($deivce + ':'));
  }
}

// hover ?
