@mixin width-sizing($map: $widths, $prefix: '') {
  @each $name, $value in $map {
    @if $name == default {
      #{$prefix}.w {
        width: $value;
      }
    } @else {
      #{$prefix}.w-#{'' + selector-escape($name)} {
        width: $value;
      }
    }
  }
}

@mixin max-width-sizing($map: $maxWidths, $prefix: '') {
  @each $name, $value in $map {
    @if $name == default {
      #{$prefix}.max-w {
        max-width: $value;
      }
    } @else {
      #{$prefix}.max-w-#{'' + selector-escape($name)} {
        max-width: $value;
      }
    }
  }
}

@include width-sizing();
.min-w-0 {
  min-width: 0px;
}

.min-w-full {
  min-width: 100%;
}

.min-w-min {
  min-width: min-content;
}

.min-w-max {
  min-width: max-content;
}

@include max-width-sizing();

// .w-1x {
//   width: 1em;
// }

// .w-2x {
//   width: 2em;
// }

// .w-3x {
//   width: 3em;
// }

// .w-xxs {
//   width: 60px;
// }

// .h-xxs {
//   height: 60px;
// }

// .w-xs {
//   width: 90px;
// }

// .h-xs {
//   height: 90px;
// }

// .w-ssm {
//   width: 120px;
// }

// .w-sm {
//   width: 150px;
// }

// .h-sm {
//   height: 150px;
// }

// .h-ssm {
//   height: 120px;
// }

// .w {
//   width: 200px;
// }

// .h {
//   height: 200px;
// }

// .w-md {
//   width: 240px;
// }

// .h-md {
//   height: 240px;
// }

// .w-lg {
//   width: 280px;
// }

// .h-lg {
//   height: 280px;
// }

// .w-xl {
//   width: 320px;
// }

// .h-xl {
//   height: 320px;
// }

// .w-xxl {
//   width: 360px;
// }

// .h-xxl {
//   height: 360px;
// }

// .w-xxxl {
//   width: 420px;
// }

// .h-xxxl {
//   height: 420px;
// }

// .w-full {
//   width: 100%;
// }

// .w-auto {
//   width: auto;
// }

// .h-auto {
//   height: auto;
// }

// .h-full {
//   height: 100%;
// }
