@mixin make-place-content($prefix: '.') {
  #{$prefix}place-content-center {
    place-content: center;
  }
  #{$prefix}place-content-start {
    place-content: start;
  }
  #{$prefix}place-content-end {
    place-content: end;
  }
  #{$prefix}place-content-between {
    place-content: space-between;
  }
  #{$prefix}place-content-around {
    place-content: space-around;
  }
  #{$prefix}place-content-evenly {
    place-content: space-evenly;
  }
  #{$prefix}place-content-stretch {
    place-content: stretch;
  }
}

@include make-place-content();
@each $deivce in map-keys($devices) {
  @include media-device($deivce) {
    @include make-place-content('.' + selector-escape($deivce + ':'));
  }
}
