.ov-excel-auto-filter-icon-container {
  position: absolute;
}

.ov-excel-auto-filter-icon {
  cursor: pointer;
  position: absolute;
  right: 2px;
  top: 2px;
  bottom: 2px;
  z-index: $filter-icon-z-index;
}

.ov-excel-auto-filter-icon svg {
  width: 100%;
  height: 100%;
}

.ov-excel-auto-filter-menu {
  position: absolute;
  display: none;
  flex-direction: column;
  right: -240px;
  width: 240px;
  height: 440px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px,
    rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
  z-index: $filter-menu-z-index;
  background-color: white;
}

@import './auto-filter/sort-state.scss';

@import './auto-filter/filters.scss';

@import './auto-filter/custom-filters.scss';
