@mixin make-letter-spacing($prefix: '.') {
  @each $name,
    $value
      in (
        'tighter': -0.05em,
        'tight': -0.025em,
        'normal': 0em,
        'wide': 0.025,
        'wider': 0.05em,
        'widest': 0.1em
      )
  {
    #{$prefix}tracking-#{$name} {
      letter-spacing: $value;
    }
  }
}

.l-s-1x {
  letter-spacing: 1;
}

.l-s-2x {
  letter-spacing: 2;
}

.l-s-3x {
  letter-spacing: 3;
}

@include make-letter-spacing();
@each $deivce in map-keys($devices) {
  @include media-device($deivce) {
    @include make-letter-spacing('.' + selector-escape($deivce + ':'));
  }
}

// hover ?
