.avatar {
  position: relative;
  display: block;
  border-radius: 500px;
  white-space: nowrap;

  & img {
    border-radius: 500px;
    width: 100%;
  }

  & i {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    margin: 2px;
    border-width: 2px;
    border-style: solid;
    border-radius: 100%;

    &.right {
      left: auto;
      right: 0;
    }

    &.bottom {
      left: auto;
      top: auto;
      bottom: 0;
      right: 0;
    }

    &.left {
      top: auto;
      bottom: 0;
    }

    &.on {
      background-color: $success;
    }

    &.off {
      background-color: $text--muted-color;
    }

    &.busy {
      background-color: $danger;
    }

    &.away {
      background-color: $warning;
    }
  }

  &.thumb-md i {
    width: 12px;
    height: 12px;
    margin: 3px;
  }

  &.thumb-sm i {
    margin: 1px;
  }

  &.thumb-xs i {
    margin: 0;
  }
}
