.hbox {
  display: table;
  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
  height: 100%;

  & > .col {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    float: none;
  }
}
