.line {
  // width: 100%; 不要设置 100%， 否则跟 pull-in 配合使用时候，宽度为不对。
  height: 2px;
  margin: 10px 0;
  font-size: 0;
  overflow: hidden;
}

.line-xs {
  margin: 0;
}

.line-lg {
  margin-top: 15px;
  margin-bottom: 15px;
}

.line-dashed {
  border-style: dashed !important;
  background-color: transparent;
  border-width: 0;
}

.no-line {
  border-width: 0;
}
