.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.hover {
    &,
    & > .cell-inner {
      overflow-y: hidden !important;
    }

    &:hover,
    &:focus,
    &:active {
      overflow: visible;
      overflow-y: auto;

      & > .cell-inner {
        overflow-y: auto !important;
      }
    }
  }

  .smart & {
    &,
    & > .cell-inner {
      overflow-y: auto !important;
    }
  }
}
