.thumb-xl {
  width: 128px;
  display: inline-block;
}

.thumb-lg {
  width: 96px;
  display: inline-block;
}

.thumb-md {
  width: 64px;
  display: inline-block;
}

.thumb {
  width: 50px;
  display: inline-block;
}

.thumb-sm {
  width: 40px;
  display: inline-block;
}

.thumb-xs {
  width: 34px;
  display: inline-block;
}

.thumb-xxs {
  width: 30px;
  display: inline-block;
}

.thumb-wrapper {
  padding: 2px;
  border: 1px solid $borderColor;
}

.thumb,
.thumb-xxs,
.thumb-xs,
.thumb-sm,
.thumb-md,
.thumb-lg,
.thumb-btn,
.thumb-xl {
  & img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
}
