.ae-Font {
  &-group-lhs {
    border-radius: #{px2rem(5px)} 0 0 #{px2rem(5px)};
  }

  &-group-rhs {
    border-radius: 0 #{px2rem(5px)} #{px2rem(5px)} 0;
  }

  &-group-middle {
    border-radius: 0;
  }

  &-relative-left {
    position: relative;
    left: 1px;
  }

  &-relative-right {
    position: relative;
    right: 1px;
  }

  &-relative-right-2 {
    position: relative;
    right: 2px;
  }
}
