.#{$ns}Alert {
    font-size: $Alert-fontSize;
    box-shadow: $Alert-boxShadow;
    padding: $Alert-paddingY $Alert-paddingX;
    border: $Alert-borderWidth solid $Alert-borderColor;
    border-radius: $Alert-borderRadius;
    margin-bottom: $Alert-marginBottom;

    &-close {
        outline: none;
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: 0.2;

        &:hover {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            filter: alpha(opacity=50);
            opacity: 0.5;
        }
    }

    &--danger {
        color: $Alert--danger-color;
        background-color: $Alert--danger-bg;
        border-color: $Alert--danger-borderColor;
    }

    &--info {
        color: $Alert--info-color;
        background-color: $Alert--info-bg;
        border-color: $Alert--info-borderColor;
    }

    &--success {
        color: $Alert--success-color;
        background-color: $Alert--success-bg;
        border-color: $Alert--success-borderColor;
    }

    &--warning {
        color: $Alert--warning-color;
        background-color: $Alert--warning-bg;
        border-color: $Alert--warning-borderColor;
    }
}
