@mixin arrow-control {
  width: var(--Carousel--arrow-width);
  height: var(--Carousel--arrow-height);
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  transition-duration: var(--Carousel-transitionDuration);
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: var(--Carousel-svg-width);
    height: var(--Carousel-svg-height);
  }
}

.#{$ns}Carousel {
  min-width: var(--Carousel-minWidth);
  height: var(--Carousel-height);
  position: relative;
  display: block;
  background: var(--Carousel-bg);

  &.#{$ns}Carousel--light {
    .#{$ns}Carousel-dot, .carousel-inner-bar {
      background: var(--Carousel--light-control);
    }
    .#{$ns}Carousel-bar {
      background: rgba(255, 255, 255, 0.5);
    }

    svg {
      fill: var(--Carousel--light-control);
    }

    .#{$ns}Carousel-item {
      .title,
      .description {
        color: var(--Carousel--light-control);
      }
    }
  }

  &.#{$ns}Carousel--dark {
    .#{$ns}Carousel-dot, .carousel-inner-bar {
      background: var(--Carousel--dark-control);
    }
    .#{$ns}Carousel-bar {
      background: rgba(000, 000, 000, 0.5);
    }

    svg {
      fill: var(--Carousel--dark-control);
    }

    .#{$ns}Carousel-item {
      .title,
      .description {
        color: var(--Carousel--dark-control);
      }
    }
  }

  &.#{$ns}Carousel--primary {
    .#{$ns}Carousel-dot, .carousel-inner-bar {
      background: var(--Carousel--primary-control);
    }
    .#{$ns}Carousel-bar {
      background: rgba(36, 104, 242, 0.5);
    }

    svg {
      fill: var(--Carousel--primary-control);
    }

    .#{$ns}Carousel-item {
      .title,
      .description {
        color: var(--Carousel--primary-control);
      }
    }
  }

  &-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .#{$ns}Carousel-item {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transition-duration: var(--Carousel-transitionDuration);
      transition-timing-function: ease-out;
      transition-property: transform, opacity;

      &.fade {
        opacity: 0;
      }

      &.fade.in {
        opacity: 1;
      }

      &.slide {
        &.transX {
          transform: translateX(100%);
        }
        &.transY {
          transform: translateY(100%);
        }
      }

      &.slide.in {
        &.transX {
          transform: translateX(0);
        }
        &.transY {
          transform: translateY(0);
        }
      }

      &.slide.out {
        &.transX {
          transform: translateX(-100%);
        }
        &.transY {
          transform: translateY(-100%);
        }
      }

      &.slideRight {
        &.transX {
          transform: translateX(-100%);
        }
        &.transY {
          transform: translateY(-100%);
        }
      }

      &.slideRight.in {
        &.transX {
          transform: translateX(0);
        }
        &.transY {
          transform: translateY(0);
        }
      }

      &.slideRight.out {
        &.transX {
          transform: translateX(100%);
        }
        &.transY {
          transform: translateY(100%);
        }
      }

      .title {
        position: absolute;
        bottom: var(--Carousel-imageTitle-bottom);
        text-align: center;
        width: 100%;
        opacity: 0.8;
      }

      .description {
        position: absolute;
        bottom: var(--Carousel-imageDescription-bottom);
        text-align: center;
        width: 100%;
        opacity: 0.8;
      }

      .image {
        width: 100%;
        height: 100%;
        background-size: cover;
      }
    }
  }

  &-image {
    width: 100%;
    height: 100%;
  }

  &-image .#{$ns}Image-origin {
    height: 100%;
    width: 100%;
  }

  &-dotsControl {
    position: absolute;
    z-index: 100;

    &.control-bottom {
      bottom: var(--Carousel-gap);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .#{$ns}Carousel-dot {
        margin: var(--Carousel-dot-horizontal-margin);
      }
    }

    &.control-top {
      top: var(--Carousel-gap);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .#{$ns}Carousel-dot {
        margin: var(--Carousel-dot-horizontal-margin);
      }
    }

    &.control-left {
      left: var(--Carousel-gap);
      top: 0px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: rotate(180deg);
      .#{$ns}Carousel-dot {
        margin: var(--Carousel-dot-vertical-margin);
      }
    }


    &.control-right {
      right: var(--Carousel-gap);
      top: 0px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: rotate(180deg);
      .#{$ns}Carousel-dot {
        margin: var(--Carousel-dot-vertical-margin);
      }
    }

    .#{$ns}Carousel-dot {
      cursor: pointer;
      display: inline-block;
      height: var(--Carousel-dot-width);
      width: var(--Carousel-dot-height);
      border-radius: var(--Carousel-dot-borderRadius);
      margin: var(--Carousel-dot-margin);
      transition-duration: var(--Carousel-transitionDuration);
      opacity: 0.5;

      &.is-active {
        opacity: 1;
      }
    }
  }

  &-barControl {
    position: absolute;
    z-index: 100;

    &.control-bottom {
      bottom: var(--Carousel-gap);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .#{$ns}Carousel-bar {
        height: var(--Carousel-bar-height);
        width: var(--Carousel-bar-width);
        margin: var(--Carousel-bar-horizontal-margin);
      }
    }

    &.control-top {
      top: var(--Carousel-gap);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .#{$ns}Carousel-bar {
        height: var(--Carousel-bar-height);
        width: var(--Carousel-bar-width);
        margin: var(--Carousel-bar-horizontal-margin);
      }
    }

    &.control-left {
      left: var(--Carousel-gap);
      top: 0px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: rotate(180deg);
      .#{$ns}Carousel-bar {
        height: var(--Carousel-bar-width);
        width: var(--Carousel-bar-height);
        margin: var(--Carousel-bar-vertical-margin);
      }
    }

    &.control-right {
      right: var(--Carousel-gap);
      top: 0px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: rotate(180deg);
      .#{$ns}Carousel-bar {
        height: var(--Carousel-bar-width);
        width: var(--Carousel-bar-height);
        margin: var(--Carousel-bar-vertical-margin);
      }
    }

    .#{$ns}Carousel-bar {
      display: inline-block;
      border-radius: var(--Carousel-bar-borderRadius);
      position: relative;

      .#{$ns}Carousel-inner-bar-bottom, .#{$ns}Carousel-inner-bar-top {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 0;
        display: inline-block;
        border-radius: var(--Carousel-bar-borderRadius);
      }

      .#{$ns}Carousel-inner-bar-left, .#{$ns}Carousel-inner-bar-right {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        display: inline-block;
        border-radius: var(--Carousel-bar-borderRadius);
      }
    }
  }


  &-digitalControl {
    position: absolute;
    z-index: 100;
    text-align: center;
    display: inline-block;
    height: var(--Carousel-digital-height);
    width: var(--Carousel-digital-width);
    border-radius: var(--Carousel-digital-borderRadius);
    line-height: var(--Carousel-digital-height);
    opacity: 0.5;
    background-color: #080e1a;
    font-size: 12px;
    color: #fff;
    margin: auto;
    .#{$ns}Carousel-digital-total {
      opacity: 0.5;
    }
    &.digitalControl-left {
      top: 0;
      bottom: 0;
      left: var(--Carousel-gap);
    }
    &.digitalControl-right {
      top: 0;
      bottom: 0;
      right: var(--Carousel-gap);
    }
    &.digitalControl-top {
      left: 0;
      right: 0;
      top: var(--Carousel-gap);
    }
    &.digitalControl-bottom {
      left: 0;
      right: 0;
      bottom: var(--Carousel-gap);
    }
  }

  .#{$ns}Carousel-leftArrow {
    @include arrow-control;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    display: none;
    &.is-disabled {
      cursor: not-allowed;
      svg {
        opacity: 0.5;
      }
    }
  }


  .#{$ns}Carousel-rightArrow {
    @include arrow-control;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    display: none;
    right: 10px;
    &.is-disabled {
      cursor: not-allowed;
      svg {
        opacity: 0.5;
      }
    }
  }


  .#{$ns}Carousel-topArrow {
    @include arrow-control;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    display: none;
    bottom: 10px;
    transform: rotate(-90deg);
    &.is-disabled {
      cursor: not-allowed;
      svg {
        opacity: 0.5;
      }
    }
  }


  .#{$ns}Carousel-bottomArrow {
    @include arrow-control;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(-90deg);
    position: absolute;
    display: none;
    top: 10px;
    &.is-disabled {
      cursor: not-allowed;
      svg {
        opacity: 0.5;
      }
    }
  }

  &:hover {
    .#{$ns}Carousel-leftArrow {
      display: block;
    }
    .#{$ns}Carousel-rightArrow {
      display: block;
    }
    .#{$ns}Carousel-topArrow {
      display: block;
    }
    .#{$ns}Carousel-bottomArrow {
      display: block;
    }
  }

  &-arrowsControl {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
  }
}
