.#{$ns}CollapseGroup {
  .#{$ns}Collapse:not(:last-child) {
    border-bottom: none;
  }

  &.icon-position-right {
    .#{$ns}Collapse-header {
      .#{$ns}Collapse-arrow {
        float: right;
      }

      .#{$ns}Collapse-icon-tranform {
        float: right;
      }
    }
  }
}
