.#{$ns}CollapsePanel {
  border: var(--Collapse2-border-color);
  padding: 0;
  line-height: px2rem(20px);

  &-header {
    font-size: var(--Collapse-header-fontSize);
    font-weight: var(--Collapse-header-fontWeight);
    color: var(--text--loud-color);
    padding: var(--Collapse2-header-padding);
    cursor: pointer;
    background-color: var(--Collapse2-header-bg-color);
    &:hover {
      background-color: var(--Collapse2-header-bg-hover-color);
    }
  }

  &-arrow {
    display: inline-block;
    width: px2rem(16px);
    text-align: center;
    margin-right: var(--gap-xs);

    &:before {
      content: '';
      position: relative;
      display: inline-block;
      width: px2rem(6px);
      height: px2rem(6px);
      top: px2rem(-2px);
      border-color: var(--text-color);
      border-style: solid;
      border-width: px2rem(1px) px2rem(1px) 0 0;
      transform: rotate(45deg);
      transform-origin: 50% 50%;
    }
  }

  &-icon-tranform {
    display: inline-block;
    width: px2rem(16px);
    text-align: center;
    margin-right: var(--gap-xs);
  }


  &.is-active &-arrow:before {
    transform: rotate(135deg);
    transform-origin: 50% 30%;
  }
  &.is-active &-icon-tranform {
    transform: rotate(90deg);
  }

  &--disabled &-header {
    cursor: not-allowed;
    user-select: none;
    color: var(--text--muted-color);
    &:hover {
      background-color: var(--Collapse2-header-bg-disabled-color);
    }
  }

  &--disabled &-arrow:before {
    border-color: var(--text--muted-color);
  }

  &-body {
    transition: height var(--animation-duration) ease;

    &.in,
    &.out {
      height: 0;
      overflow: hidden;
    }
  }
}
