/**
 * 页面设计器 3.0 UI 升级
 * 备注: 右键菜单面板样式大部分在amis中
 */
$menu-background: #fff;
$menu-box-shadow: 0 2px 8px 0 rgba(7, 12, 20, 0.12);
$menu-border-radius: 4px;
$menu-font-color: #151b26;
$menu-font-family: PingFangSC-Regular;
$menu-border-color: #e8e9eb; // 默认的边框色
$menu-active-color: #2468f2;
$menu-hover-bg-color: #e6f0ff;
$menu-disabled-color: #b8babf; // 禁用文字颜色
$default-icon-color: #84868c; // 默认的icon颜色
$default-padding: 4px 12px; // 6px 12px

// 为了提示用户这不是系统菜单。
@keyframes contextMenuInSpecial {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes contextMenuIn {
  from {
    opacity: 0;
  }
}

@keyframes contextMenuOut {
  to {
    opacity: 0;
  }
}

.#{$ns}ContextMenu {
  z-index: $zindex-contextmenu;
  position: fixed;
  left: 0;
  top: 0;
  // pointer-events: none;

  &-menu {
    position: absolute;
    z-index: $zindex-contextmenu;

    &.in,
    &.out {
      // opacity: 1;
      // transform: translateY(0) scale(1);
      animation-duration: var(--animation-duration);
      animation-fill-mode: both;
    }

    &.in {
      animation-name: contextMenuInSpecial;
      animation-duration: var(--animation-duration);
    }

    &.out {
      animation-name: contextMenuOut;
    }

    display: block;
    position: absolute;

    margin: 0;
    padding: 0;

    background: $menu-background;
    box-shadow: $menu-box-shadow;

    color: $menu-font-color;
    font-family: $menu-font-family;
    font-size: 12px;
    line-height: 20px;

    // 附加的边框线
    &::before {
      display: block;
      position: absolute;
      content: '';
      top: -1px;
      left: -1px;
      bottom: -1px;
      right: -1px;

      border-radius: $menu-border-radius;
      border: 1px solid $menu-border-color;
      z-index: -1;
    }
  }

  &-divider {
    border: none;
    height: 1px;
    background: $menu-border-color;
    margin: 4px 1px;
    padding: 0;
  }

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 100px;
  }

  &-item {
    position: relative;

    > a {
      white-space: nowrap;
      display: block;
      padding: $default-padding;
      color: inherit;
      border-top: none;
      border-bottom: none;
    }

    &:not(.is-disabled):hover > a {
      text-decoration: none;
      color: $menu-active-color;
      background: $menu-hover-bg-color;
      cursor: pointer;
      border-top: none;
      border-bottom: none;
    }

    &.is-disabled > a {
      color: $menu-disabled-color;
      pointer-events: none;
    }

    &.has-child > a::after {
      content: '';
      width: 0;
      height: 0;
      border-width: 4px 7px;
      border-style: solid;
      border-color: transparent transparent transparent $default-icon-color;
      text-shadow: $menu-box-shadow;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }

    &.has-child:hover > a::after {
      border-color: transparent transparent transparent $menu-active-color;
    }
  }

  &-itemIcon {
    margin-right: 5px;
  }

  &-subList {
    display: none;
    list-style: none;
    transition: display ease-out 0.25s;
  }

  &-item:hover > &-subList {
    display: block;
    animation-duration: var(--animation-duration);
    animation-fill-mode: both;
    animation-name: contextMenuIn;
    position: absolute;
    left: 100%; // calc(100% + 3px);
    top: -3px;
    min-width: 100px;

    margin: 0;
    padding: 0;

    background: $menu-background;
    box-shadow: $menu-box-shadow;
    border-radius: $menu-border-radius;

    color: $menu-font-color;
    font-family: $menu-font-family;
    font-size: 12px;
    line-height: 20px;

    &:hover {
      display: block;
    }

    // 附加的边框线
    &::before {
      display: block;
      position: absolute;
      content: '';
      top: -1px;
      left: -1px;
      bottom: -1px;
      right: -1px;

      border-radius: $menu-border-radius;
      border: 1px solid $menu-border-color;
      z-index: -1;
    }
  }

  &--left &-item:hover > &-subList {
    left: auto;
    right: 100%;
  }

  &-cursor {
    position: absolute;
    width: 1px;
    height: 1px;
    z-index: -1;
  }

  &-overlay {
    position: fixed !important;
    z-index: $zindex-contextmenu - 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    pointer-events: none;
  }
}
