.AMISDebug {
  position: fixed;
  z-index: $zindex-debug;
  top: 0;
  right: 0;
  height: 100vh;
  width: 24px;

  color: var(--text-color);

  &-header {
    padding: var(--Drawer-header-padding);
    background: var(--Drawer-header-bg);
    border-bottom: var(--Drawer-content-borderWidth) solid
      var(--Drawer-header-borderColor);
  }

  &-hoverBox {
    pointer-events: none;
    position: absolute;
    outline: 1px dashed #1c76c4;
  }

  &-activeBox {
    pointer-events: none;
    position: absolute;
    outline: 1px #1c76c4;
  }

  &-tab {
    overflow: hidden;
    background-color: #f1f1f1;
  }

  &-tab > button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }

  &-tab > button:hover {
    background-color: #ddd;
  }

  &-tab > button.active {
    background-color: #ccc;
  }

  &-toggle {
    background: var(--body-bg);
    position: fixed;
    top: 50%;
    width: 24px;
    height: 48px;
    box-shadow: rgba(0, 0, 0, 0.24) -2px 0px 4px 0px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-top: 14px;
    padding-left: 6px;
    cursor: pointer;
    i {
      color: var(--text-color);
    }
  }
  &-content {
    display: none;
  }
  &.is-expanded {
    width: 420px;
    overflow: auto;
    border-left: 1px solid var(--borderColor);
    background: var(--body-bg);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .AMISDebug-toggle {
      margin-left: -24px;
    }
    .AMISDebug-content {
      display: block;
    }
  }

  &-logLine {
    display: flex;
  }
}
