/**
 * Debug 模块的 UI，由于没法使用任何主题，所以这里使用独立配色风格
 */

.AMISDebug {
  position: fixed;
  z-index: $zindex-debug;
  top: 0;
  right: 0;
  height: 100vh;
  width: 24px;

  h3 {
    color: inherit;
  }

  .primary {
    color: #009fff;
  }

  &-header {
    padding: var(--Drawer-header-padding);
    background: var(--Drawer-header-bg);
    border-bottom: var(--Drawer-content-borderWidth) solid
      var(--Drawer-header-borderColor);
  }

  &-hoverBox {
    pointer-events: none;
    position: absolute;
    outline: 1px dashed #1c76c4;
  }

  &-activeBox {
    pointer-events: none;
    position: absolute;
    outline: 1px #1c76c4;
  }

  &-tab {
    overflow: hidden;
  }

  &-tab > button {
    color: inherit;
    background: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
  }

  &-tab > button:hover {
    color: #e7e7e7;
  }

  &-tab > button.active {
    color: #e7e7e7;
    border-bottom-color: #e7e7e7;
  }

  &-toggle {
    background: var(--body-bg);
    position: fixed;
    top: 50%;
    width: 24px;
    height: 48px;
    box-shadow: rgba(0, 0, 0, 0.24) -2px 0px 4px 0px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-top: 14px;
    padding-left: 6px;
    cursor: pointer;
    i {
      color: var(--text-color);
    }
  }

  &-content {
    display: none;
  }

  &.is-expanded {
    width: 420px;
    overflow: auto;
    border-left: 1px solid var(--borderColor);
    background: #272821;
    color: #cccccc;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .AMISDebug-toggle {
      margin-left: -24px;
    }
    .AMISDebug-content {
      display: block;
    }
  }

  &-log {
    padding: var(--gap-xs);
    button {
      cursor: pointer;
      background: #0e639c;
      flex-grow: 1;
      box-sizing: border-box;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 6px 11px;
      outline: none;
      text-decoration: none;
      color: inherit;
      max-width: 300px;
      border: none;
    }
    button:hover {
      background: #1177bb;
    }
  }

  &-inspect {
    padding: var(--gap-xs);
  }
}
