.#{$ns}Log {
  position: relative;
  background: var(--Log-bg);
  color: var(--Log-color);
  padding: var(--Log-padding);
  overflow-y: auto;
  font-family: var(--fontFamilyMonospace);
  &-line {
    padding: var(--Log-line-padding);
    white-space: pre-wrap;
    word-wrap: break-word;
    // bootstrap 会修改这些，覆盖掉
    code {
      color: inherit;
      background: inherit;
    }
    &:hover {
      background: var(--Log-line--onHover-bg);
    }
    &-number {
      color: #999;
      font-style: italic;
      margin-right: 5px;
    }
  }

  .ansi-bold {
    font-weight: 700;
  }

  .ansi-italic {
    font-style: italic;
  }

  .ansi-underline {
    text-decoration: underline;
  }

  .ansi-black-fg,
  .ansi-bright-black-fg {
    color: #4e4e4e;
  }

  .ansi-red-fg,
  .ansi-bright-red-fg {
    color: #ff6c60;
  }

  .ansi-green-fg,
  .ansi-bright-green-fg {
    color: #0a0;
  }

  .ansi-yellow-fg,
  .ansi-bright-yellow-fg {
    color: #ffffb6;
  }

  .ansi-blue-fg,
  .ansi-bright-blue-fg {
    color: #96cbfe;
  }

  .ansi-magenta-fg,
  .ansi-bright-magenta-fg {
    color: #ff73fd;
  }

  .ansi-cyan-fg,
  .ansi-bright-cyan-fg {
    color: #5ff;
  }

  .ansi-white-fg,
  .ansi-bright-white-fg {
    color: #eee;
  }

  .ansi-grey-fg,
  .ansi-bright-grey-fg {
    color: #969696;
  }

  .ansi-black-bg {
    background-color: #4e4e4e;
  }

  .ansi-red-bg {
    background-color: #ff6c60;
  }

  .ansi-green-bg {
    background-color: #0a0;
  }

  .ansi-yellow-bg {
    background-color: #ffffb6;
  }

  .ansi-blue-bg {
    background-color: #96cbfe;
  }

  .ansi-magenta-bg {
    background-color: #ff73fd;
  }

  .ansi-cyan-bg {
    background-color: #0aa;
  }

  .ansi-white-bg {
    background-color: #eee;
  }
  &-operation {
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(0,0,0,0.4);
      width: 100%;
      .#{$ns}Button {
        margin-right: 0.5rem;
        margin-left: 0.1rem;
      }
    }
}
