.#{$ns}Field-popOverBtn {
    color: $PopOverAble-iconColor;
    margin-left: $gap-xs;
    visibility: hidden;
    display: inline-block;
    cursor: pointer;

    &:hover {
        color: $PopOverAble-onHover-iconColor;
    }
}

.#{$ns}Field--popOverAble {
    outline: none;
    position: relative;

    &:hover .#{$ns}Field-popOverBtn {
        visibility: visible;
    }
}

.#{$ns}PopOverAble-popover {
    min-width: px2rem(320px);
    max-width: px2rem(640px);

    .#{$ns}Panel {
        margin-bottom: 0;
        border: none;
    }
}
