.#{$ns}Property {
  > table {
    border: 1px solid var(--borderColor);
    width: 100%;
    border-collapse: collapse;
    > tbody > tr {
      background: var(--background);

      > td,
      > th {
        border: 1px solid var(--borderColor);
        padding: var(--gap-sm);
      }
      > th {
        background: var(--Property-th-bg);
      }
    }
  }

  &--simple {
    > table {
      border: none;
      > tbody > tr {
        background: transparent;
      }

      > tbody > tr > td,
      > tbody > tr > th {
        border: none;
      }
    }
  }
}
