.#{$ns}Remark {
  display: inline-block;
  vertical-align: middle;
  margin-left: $Remark-marginLeft;
  > span {
    color: $Remark-iconColor;
    font-size: $fontSizeSm;
  }

  cursor: pointer;
  text-align: center;

  &-icon {
    color: $Remark-iconColor;
    font-size: $Remark-icon-fontSize;
    background-color: $Remark-bg;
    border: $Remark-borderWidth solid $Remark-borderColor;
    width: $Remark-width;
    height: $Remark-width;
    line-height: 1;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    font-size: $fontSizeSm;
    user-select: none;

    > svg {
      width: 100%;
      height: 100%;
    }
  }

  > span + .#{$ns}Remark-icon {
    margin-left: $gap-xs;
  }

  &:hover > &-icon {
    color: $Remark-onHover-iconColor;
    background-color: $Remark-onHover-bg;
    border-color: $Remark-onHover-borderColor;
  }

  > svg {
    width: ($Remark-width - px2rem(2px));
    height: ($Remark-width - px2rem(2px));
    color: $Remark-iconColor;
  }

  &:hover > svg {
    color: $Remark-onHover-iconColor;
  }
}
