.#{$ns}Tabs {
    &-links {
        border-bottom: $Tabs-borderWidth solid $Tabs-borderColor;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;

        &::before {
            display: table;
            content: ' ';
        }

        > .#{$ns}Tabs-link {
            margin-bottom: -$Tabs-borderWidth;
            display: inline-block;
            position: relative;

            > a:first-child {
                font-size: $Tabs-linkFontSize;
                outline: none;
                border: $Tabs-borderWidth solid transparent;
                border-top-left-radius: $Tabs-borderRadius;
                border-top-right-radius: $Tabs-borderRadius;
                color: $Tabs-color;
                margin-right: px2rem(2px);
                padding: $Tabs-link-padding;
                margin: $Tabs-link-margin;
                text-decoration: none;
                cursor: pointer;
                display: block;
            }

            > .#{$ns}Combo-toolbarBtn {
                position: absolute;
                right: -10px;
                top: -10px;
                z-index: 10;
                display: none;
            }

            &:hover > .#{$ns}Combo-toolbarBtn {
                display: block;
            }

            &:hover > a:first-child,
            > a:first-child:focus {
                border-color: $Tabs-onHover-borderColor;
                text-decoration: none;
            }

            &.disabled > a:first-child,
            &.is-disabled > a:first-child {
                color: $Tabs-onDisabled-color;
                background-color: transparent;
                border-color: transparent;
                pointer-events: none;
            }

            &.active > a:first-child,
            &.is-active > a:first-child {
                color: $Tabs-onActive-color;
                background-color: $Tabs-onActive-bg;
                border-color: $Tabs-onActive-borderColor;
                border-bottom-color: transparent;
            }
        }
    }

    &-content {
        background-color: $Tabs-content-bg;
        padding: $Tabs-content-padding;
        border-style: solid;
        border-width: $Tabs-content-borderWidth;
        border-color: $Tabs-borderColor;
    }

    &-pane {
        display: none;
        opacity: 0;
        transition: opacity 0.35s linear;

        &.is-active {
            display: block;
        }

        &.in {
            opacity: 1;
        }
    }

    &--line {
        > .#{$ns}Tabs-links {
            border-bottom-color: #e2e5ec;

            > li {
                &.is-active {
                    > a:first-child,
                    > a:first-child:hover,
                    > a:first-child:focus {
                        border-color: $primary;
                        color: $primary;
                    }
                }

                > a:first-child,
                > a:first-child:hover,
                > a:first-child:focus {
                    color: #666;
                    background-color: transparent;
                    border-color: transparent;
                    border-style: solid;
                    border-width: 0 0 px2rem(2px) 0;
                }
            }
        }
    }

    &--card {
        > .#{$ns}Tabs-links {
            background-color: $Tabs--card-bg;
            border-top: px2rem(1px) solid $Tabs--card-borderTopColor;

            > li {
                &.is-active {
                    > a:first-child,
                    > a:first-child:hover,
                    > a:first-child:focus {
                        color: $primary;
                        background-color: $Tabs--card-onActive-bg;
                        margin-left: px2rem(1px);
                    }
                }

                > a:first-child,
                > a:first-child:hover,
                > a:first-child:focus {
                    color: #666;
                    background-color: transparent;
                }
            }
        }
    }

    &--radio {
        > .#{$ns}Tabs-links {
            border: 0;
            margin-bottom: px2rem(10px);

            > li {
                > a:first-child {
                    font-size: $fontSizeSm;
                    text-align: center;
                    margin-right: 0;
                    padding: 0 px2rem(20px);
                    height: px2rem(30px);
                    line-height: px2rem(30px);
                }

                &.is-active {
                    > a:first-child,
                    > a:first-child:hover,
                    > a:first-child:focus {
                        color: #fff;
                        background-color: $primary;
                        margin-left: px2rem(1px);
                    }
                }

                > a:first-child,
                > a:first-child:hover,
                > a:first-child:focus {
                    color: $primary;
                    background-color: $Tabs--radio-bg;
                }
            }
        }

        > .#{$ns}Tabs-content {
            border-top: $Tabs-borderWidth solid $Tabs-borderColor;
        }
    }
}
