// yunshe4.1
$B1: #e6f0ff;
$B2: #d4e5ff;
$B3: #a7c2f9;
$B4: #a8caff;
$B5: #528eff;
$B6: #2468f2;
$B7: #144bcc;
$B8: #153e91;
$B9: #0e2960;
$B10: #091a3c;

$E1: #ffe8e6;
$E2: #ffdbd9;
$E3: #ffb6b3;
$E4: #ff908c;
$E5: #ff6966;
$E6: #f33e3e;
$E7: #cc292e;
$E8: #a61922;
$E9: #800d18;
$E10: #590410;

$S1: #ecffe6;
$S2: #d1f2c7;
$S3: #a5e693;
$S4: #7bd964;
$S5: #54cc39;
$S6: #30bf13;
$S7: #1b9908;
$S8: #0b7300;
$S9: #054d00;
$S10: #012600;

$W1: #fff4e6;
$W2: #ffecd4;
$W3: #ffd8a8;
$W4: #ffc27d;
$W5: #ffab52;
$W6: #ff9326;
$W7: #d97116;
$W8: #b35209;
$W9: #8c3800;
$W10: #662500;

$G1: #070c14;
$G2: #151b26;
$G3: #303540;
$G4: #5c5f66;
$G5: #84868c;
$G6: #b8babf;
$G7: #d4d6d9;
$G8: #e8e9eb;
$G9: #f2f2f4;
$G10: #f7f7f9;
$G11: #ffffff;