// yunshe4.0
$B1: #e9f0fd;
$B2: #d3e0fc;
$B3: #a7c2f9;
$B4: #7ba4f7;
$B5: #4f86f4;
$B6: #2468f2;
$B7: #1c53c1;
$B8: #153e91;
$B9: #0e2960;
$B10: #091a3c;

$E1: #fdf0ee;
$E2: #fce0dc;
$E3: #fac1ba;
$E4: #f8a397;
$E5: #f68475;
$E6: #e8684a;
$E7: #c35142;
$E8: #923d31;
$E9: #612821;
$E10: #3d1914;

$S1: #e7f9f2;
$S2: #cff2de;
$S3: #a0e5bd;
$S4: #71d99c;
$S5: #42cc7b;
$S6: #0bc286;
$S7: #0f9948;
$S8: #0b7336;
$S9: #074c24;
$S10: #004d25;

$W1: #fff7e6;
$W2: #ffefcc;
$W3: #ffe099;
$W4: #ffd066;
$W5: #ffc133;
$W6: #ffb200;
$W7: #cc8e00;
$W8: #996a00;
$W9: #664700;
$W10: #332300;

$G1: #080e1a;
$G2: #151a26;
$G3: #2d323c;
$G4: #5e626a;
$G5: #83868c;
$G6: #b4b6ba;
$G7: #cecfd1;
$G8: #dadbdd;
$G9: #e6e6e8;
$G10: #f2f2f4;
$G11: #ffffff;
