@import '../functions';

$remFactor: 16px;

$ns: 'cxd-';

$info: #108cee;
$primary: #108cee;
$success: #5fb333;
$warning: #f39000;
$danger: #ea2e2e;
$light: #eaf6fe;
$white: #fff;

$info-bg: #eaf6fe;
$success-bg: #f1fdeb;
$warning-bg: #fcf7f1;
$danger-bg: #fff5f5;

$body-bg: #ffffff;
$text-color: #666;

@import '../variables';
@import '../properties';

:root {
  --borderColor: #eceff8;

  --text--muted-color: #999;
  --text--loud-color: #333;
  --link-onHover-decoration: none;

  --icon-color: #999;
  --icon-onHover-color: #{$primary};

  --Layout-header-boxShadow: none;
  --Layout-header-bg: #f5f5f5;
  --Layout-aside-width: px2rem(180px);
  --Layout-aside-bg: #1e1e28;
  --Layout-aside-subList-bg: #1e1e28;
  --Layout-brand-bg: #0f1012;
  --Layout-brand-color: #fff;
  --Layout-asideLink-iconColor: rgba(255, 255, 255, 0.6);
  --Layout-asideLink-color: #fff;
  --Layout-asideLink-onHover-color: #108cee;
  --Layout-asideLink-onActive-color: #108cee;
  --Layout-asideLink-onHover-iconSize: px2rem(16px);
  --Layout-asideLink-onHover-iconColor: #108cee;
  --Layout-asideLink-fontSize: px2rem(12px);
  --Layout-asideLink-arrowFontSize: px2rem(12px);
  --Layout-asideLink-arrowColor: #8d99b0;
  --Layout-asideLink-onHover-arrowColor: #fff;
  --Layout-headerBar-borderBottom: 0 none;
  --Layout-asideDivider-margin: 0 #{px2rem(10px)};
  --Layout-asideDivider-bg: #3c3c4d;
  --Layout-nav--folded-height: #{px2rem(40px)};

  --Page-aside-bg: #ffffff;
  --Page-aside-width: #{px2rem(160px)};
  --Page-content-paddingY: 0;
  --Page-content-paddingX: 0;
  --Page-main-bg: #fff;
  --Page-body-padding: #{px2rem(20px)};
  --Page-title-fontSize: #{px2rem(16px)};
  --Page-title-color: #000;
  --Page-title-lineHeight: 1.75;
  --Page-header-paddingX: #{px2rem(20px)};
  --Page-header-paddingY: #{px2rem(10px)};

  --Form-item-gap: #{px2rem(20px)};
  --Form-input-height: #{px2rem(30px)};
  --Form-input-onFocused-bg: var(white);
  --Form-input-borderRadius: 0;
  --Form-input-borderColor: #ccc;
  --Form-input-onFocused-borderColor: #{$primary};
  --Form-input-onError-borderColor: #d0021b;
  --Form-input-paddingX: #{px2rem(10px)};
  --Form-fontSize: #{px2rem(12px)};
  --Form-description-color: #999;
  --Form-input-onError-bg: #fffbfb;
  --Form-input-onDisabled-bg: #f5f5f5;
  --Form-input-onDisabled-borderColor: #ebebeb;
  --Form--horizontal-label-whiteSpace: nowrap;
  --Form--horizontal-label-align: left;
  --Form--horizontal-label-widthXs: #{px2rem(50px)};
  --Form--horizontal-label-widthSm: #{px2rem(70px)};
  --Form--horizontal-label-widthBase: #{px2rem(100px)};
  --Form--horizontal-label-widthMd: #{px2rem(140px)};
  --Form--horizontal-label-widthLg: #{px2rem(190px)};
  --Form-input-addOnBg: #{$white};
  --Form-input-addOnColor: #666;
  --Form-input-onFocus-addOnColor: #{$primary};
  --Form-input-addOnDividerBorderWidth: 0;

  --Form-select-borderWidth: #{px2rem(1px)};
  --Form-select-borderRadius: 0;
  --Form-select-borderColor: #ccc;
  --Form-select-bg: #{$white};
  --Form-select-onHover-bg: #{$white};
  --Form-select-onHover-borderColor: #{$primary};
  --Form-select-placeholderColor: #999;
  --Form-select-color: #000;
  --Form-select-caret-iconColor: #999;
  --Form-select-caret-onHover-iconColor: #{$primary};
  --Form-select-caret-fontSize: #{px2rem(12px)};
  --Form-select-outer-borderWidth: 0;
  --Form-select-outer-top: #{px2rem(32px)};
  --Form-select-outer-boxShadow: #{px2rem(2px)} #{px2rem(4px)} #{px2rem(8px)} rgba(0, 0, 0, 0.2);
  --Form-select-menu-color: #333;
  --Form-select-menu-onHover-color: #000;
  --Form-select-menu-onHover-bg: #eaf6fe;
  --Form-select-menu-height: #{px2rem(24px)};
  --Form-select-popoverGap: #{px2rem(3px)};
  --Form-select-search-height: #{px2rem(30px)};
  --Form-selectValue-color: #{$primary};

  --InputGroup-select-borderWidth: #{px2rem(1px)};
  --InputGroup-select-bg: #f6f7fb;
  --InputGroup-select-onFocused-bg: #eaf6fe;
  --InputGroup-select-color: #333;
  --InputGroup-select-onFocused-color: #{$primary};
  --InputGroup-select-arrowColor: #999;
  --InputGroup-select-onFocused-arrowColor: #{$primary};
  --InputGroup-button-borderWidth: #{px2rem(1px)};
  --InputGroup-button-borderRadius: 0;

  // $Number-bg: #eaf6fe;
  --Number-borderWidth: #{px2rem(1px)};
  --Number-handler-mode: 'horizontal';
  --Number-handler-borderBottom: 0;
  --Number-handler-width: #{px2rem(20px)};
  --Number-handler-color: #666;
  --Number-handler-onDisabled-color: #999;
  // $Number-handler-bg: #{$info};
  --Number-handler-onHover-bg: #{$white};
  --Number-handler-onHover-color: #{$primary};
  --Number-handler-onActive-bg: #f3f9fe;
  --Number-handler-onDisabled-bg: #f5f5f5;
  --Number-handler-fontFamily: 'iconfont';
  --Number-handler-fontSize: #{px2rem(12px)};
  --Number-handler--up-content: '\e6dd';
  --Number-handler--up-transform: rotate(180deg);
  --Number-handler--down-content: '\e6dd';

  --Checkbox-size: #{px2rem(14px)};
  --Checkbox-inner-size: #{px2rem(8px)};
  --Checkbox--full-inner-size: #{px2rem(10px)};
  --Radio-size: #{px2rem(16px)};
  --Radio-inner-size: #{px2rem(10px)};

  --Switch-bgColor: #ccc;
  --Switch-borderColor: #f0f0f0;
  --Switch-onActive-bgColor: #{$primary};
  --Switch-onDisabled-bgColor: #f5f5f5;
  --Switch-onDisabled-color: #ccc;
  --Switch-onDisabled-circle-BackgroundColor: #ccc;

  --ColorPicker-borderWidth: #{px2rem(1px)};
  --ColorPicker-borderRadius: 0;
  --ColorPicker-bg: #{$white};
  --ColorPicker-onHover-bg: #{$white};
  --ColorPicker-onHover-borderColor: #{$primary};
  --ColorPicker-color: #000;
  --ColorPicker-placeholderColor: #999;
  --ColorPicker-onDisabled-bg: #f5f5f5;
  --ColorPicker-onDisabled-color: #999;

  --DatePicker-borderWidth: #{px2rem(1px)};
  --DatePicker-borderRadius: 0;
  --DatePicker-bg: #{$white};
  --DatePicker-onHover-bg: #{$white};
  --DatePicker-color: #000;
  --DatePicker-placeholderColor: #999;
  --DatePicker-onDisabled-bg: #f5f5f5;
  --DatePicker-onDisabled-color: #999;
  --DatePicker-iconColor: #666;
  --DatePicker-onHover-iconColor: #{$primary};
  --DatePicker-onHover-borderColor: #{$primary};

  --Calendar-input-borderRadius: 0;
  --Calendar-shortcuts-bg: #f5f5f5;
  --Calendar-shortcuts-height: #{px2rem(30px)};

  // button
  --Button-mimWidth: #{px2rem(68px)};
  --Button-borderWidth: #{px2rem(1px)};
  --Button-boxShadow: none;
  --Button-onActive-boxShadow: none;
  --Button-borderRadius: 0;
  --Button--lg-borderRadius: 0;
  --Button--sm-borderRadius: 0;
  --Button-onDisabled-opacity: 1;
  --Button-onDisabled-bg: #f5f5f5;
  --Button-onDisabledActive-bg: #f5f5f5;
  --Button-onDisabled-borderColor: #ebebeb;
  --Button-onDisabled-color: #aaa;
  --Button-paddingX: #{px2rem(10px)};

  --Button--lg-height: #{px2rem(40px)};
  --Button--lg-fontSize: #{px2rem(14px)};

  --Button--default-bg: #{$white};
  --Button--default-border: #cccccc;
  --Button--default-color: #000;
  --Button--default-onHover-bg: #{$white};
  --Button--default-onHover-border: #{$primary};
  --Button--default-onHover-color: #{$primary};
  --Button--default-onActive-bg: #f6fbff;
  --Button--default-onActive-border: #{$primary};
  --Button--default-onActive-color: #{$primary};

  --Button--primary-bg: #{$primary};
  --Button--primary-border: #{$primary};
  --Button--primary-onHover-bg: #209bfd;
  --Button--primary-onHover-border: #{$primary};
  --Button--primary-onHover-color: #{$white};
  --Button--primary-onActive-bg: #047bdb;
  --Button--primary-onActive-border: #{$primary};
  --Button--primary-onActive-color: #{$white};

  --Button--danger-bg: #ea2e2e;
  --Button--danger-onHover-bg: #f64545;
  --Button--danger-onActive-bg: #d72b2b;

  --ButtonGroup-divider-width: #{px2rem(1px)};
  --ButtonGroup-divider-color: #fff;
  --ButtonGroup--primary-isActive-color: #{$primary};
  --ButtonGroup--primary-isActive-bg: #{$white};

  --Button--link-color: #{$primary};
  --Button--link-onHover-color: #209bfd;

  --Spinner-bg: url('./spinner-cxd.svg');

  --Crud-toolbar-gap: #{px2rem(10px)};

  // Table
  --Table-bg: #fff;
  --Table-fontSize: #{px2rem(12px)};
  --Table-color: #333;
  --Table-thead-color: #333;
  --Table-lineHeight: 20 / 12;
  --Table-borderColor: #f5f5f5;
  --Table-tree-borderColor: darken($Table-borderColor, 10%);
  --Table-thead-bg: #f5f5f5;
  --Table-thead-borderColor: #fff;
  --Table-thead-iconColor: #999;
  --Table-strip-bg: transparent;
  --Table-onHover-bg: #f5fbff;
  --Table-onHover-borderColor: #eceff8;
  --Table-onChecked-bg: transparent;
  --Table-onChecked-borderColor: #eceff8;
  --Table-onChecked-color: #333;
  --Table-onChecked-onHover-bg: #f5fbff;
  --Table-onChecked-onHover-borderColor: #eceff8;
  --Table-onChecked-onHover-color: #666;
  --TableCell-paddingX: #{px2rem(10px)};

  --TableCell-sortBtn-width: #{px2rem(14px)};

  --TableCell-filterPopOver-dropDownItem-height: #{px2rem(30px)};
  --TableCell-filterPopOver-dropDownItem-padding: 0 #{px2rem(10px)};

  // listControl
  --ListControl-item-borderWidth: #{px2rem(1px)};
  --ListControl-item-borderColor: #ccc;
  --ListControl-item-paddingX: #{px2rem(10px)};
  --ListControl-item-bg: var(--Button--default-bg);
  --ListControl-item-color: var(--Button--default-color);

  --ListControl-item-onHover-color: #{$primary};
  --ListControl-item-onHover-bg: var(--Button--default-onHover-bg);
  --ListControl-item-onHover-borderColor: #{$primary};

  --ListControl-item-onActive-bg: #{$white};
  --ListControl-item-onActive-onHover-bg: #{$white};
  --ListControl-item-onActive-color: #{$primary};
  --ListControl-item-onActive-borderColor: #{$primary};
  --ListControl-item-onActive-before-bg: #{$primary};
  --ListControl-item-onActive-after-borderColor: #{$white};

  --ListControl-item-onDisabled-opacity: 1;
  --ListControl-item-onDisabled-bg: #f5f5f5;
  --ListControl-item-onDisabled-color: #999;
  --ListControl-item-onDisabled-borderColor: #ebebeb;

  // 图片上传
  --ImageControl-addBtn-bg: #fff;
  --ImageControl-addBtn-border: #{px2rem(1px)} solid #dbdbdb;
  --ImageControl-addBtn-color: #666;
  --ImageControl-addBtn-onHover-bg: var(--ImageControl-addBtn-bg);
  --ImageControl-addBtn-onHover-border: #{$primary};
  --ImageControl-addBtn-onHover-color: #{$primary};
  --ImageControl-addBtn-onActive-bg: #f3f9fe;
  --ImageControl-addBtn-onActive-border: #{$primary};
  --ImageControl-addBtn-onActive-color: #{$primary};
  --ImageControl-addBtn-onDisabled-bg: #f5f5f5;
  --ImageControl-addBtn-onDisabled-border: #ebebeb;
  --ImageControl-addBtn-onDisabled-color: #ccc;

  // Modal
  --Modal-overlay-bg: rgba(0, 0, 0, 0.7);
  --Modal-content-borderWidth: 0;
  --Modal-content-borderRadius: 0;
  --Modal-content-minHeight: #{px2rem(193px)};
  --Modal-header-bg: #f6f7fb;
  --Modal-title-color: #333;
  --Modal-body-paddingY: #{px2rem(30px)};
  --Modal-body-paddingX: #{px2rem(30px)};
  --Modal-body-borderTop: none;
  --Modal-body-borderBottom: #{px2rem(1px)} solid #eceff8;
  --Modal-footer-marginX: #{px2rem(30px)};
  --Modal-footer-padding: #{px2rem(15px)} 0;

  // Drawer
  --Drawer-widthBase: #{px2rem(400px)};

  // Remark
  --Remark-icon-fontSize: #{px2rem(12px)};
  --Remark-iconColor: #999;
  --Remark-onHover-iconColor: #fff;
  --Remark-bg: #fff;
  --Remark-onHover-bg: #f38900;
  --Remark-borderWidth: #{px2rem(1px)};
  --Remark-borderColor: #999;
  --Remark-onHover-borderColor: #f38900;

  // Wizard
  --Wizard-steps-bg: #fff;
  --Wizard-steps-borderWidth: 0;
  --Wizard-steps-textAlign: center;
  --Wizard-steps-ulDisplay: inline-block;
  --Wizard-steps-height: #{px2rem(60px)};
  --Wizard-steps-padding: #{px2rem(10)} 0;
  --Wizard-steps-liVender: 'iconfont';
  --Wizard-steps-liAfterContent: '\e6ee';
  --Wizard-steps-liAfterBorder: 0 !important;
  --Wizard-steps-li-onActive-color: #333333;
  --Wizard-steps-bg--isComplete: #fff;
  --Wizard-badge-size: #{px2rem(26px)};
  --Wizard-badge-color: #999999;
  --Wizard-badge-onActive-backgroundColor: #333333;
  --Wizard-badge-fontSize: #{px2rem(14px)};
  --Wizard-badge-border: #{px2rem(1px)} solid #999999;
  --Wizard-badge-borderRadius: 50%;
  --Wizard-badge-bg: #{$white};
  --Wizard-badge-marginRight: #{px2rem(6px)};

  // Tabs
  --Tabs-linkFontSize: #{px2rem(14px)};
  --Tabs--card-onActive-borderColor: #{$white};
  --Tabs--card-bg: var(--Table-thead-bg);
  --Tabs--radio-bg: #{$white};

  // Pagination
  --Pagination-fontSize: #{px2rem(12px)};
  --Pagination-onActive-backgroundColor: #{$white};
  --Pagination-onActive-color: #{$primary};
  --Pagination-onActive-border: #{px2rem(1px)} solid #{$primary};

  // Panel
  --Panel-borderRadius: 0;
  --Panel-fixedBottom-boxShadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.05);

  // Nav
  --Nav-item-fontSize: #{px2rem(16px)};
  --Nav-item-borderRadius: 0;
  --Nav-item-onActive-bg: #f6f7fb;
  --Nav-item-onActive-color: #{$primary};
  --Nav-item-onActive-borderLeft: #{px2rem(4px)} solid $primary;
  --Nav-subItem-fontSize: #{px2rem(12px)};
  --Nav-subItem-onActiveBeforeBg: #{$primary};

  // Range
  --InputRange-label--value-display: none;

  // TransferSelect
  --TransferSelect--table-heading-bg: #{$white};
  --TransferSelect--normal-heading-bg: #f6f7fb;
  --TransferSelect-heading-borderBottom: 0;

  // Alert
  --Alert-xs: #{px2rem(5px)};
  --Alert-md: #{px2rem(20px)};

  --Alert-height: #{px2rem(30px)};
  --Alert-fontSize: #{px2rem(12px)};
  --Alert-paddingX: var(--Alert-md);
  --Alert-paddingY: var(--Alert-xs);
  --Alert-borderRadius: 0;
  --Alert-marginBottom: var(--Alert-md);

  --Alert--danger-color: #333;
  --Alert--danger-bg: #{$danger-bg};
  --Alert--danger-borderColor: transparent;

  --Alert--info-color: #333;
  --Alert--info-bg: #{$info-bg};
  --Alert--info-borderColor: transparent;

  --Alert--success-color: #333;
  --Alert--success-bg: #{$success-bg};
  --Alert--success-borderColor: transparent;

  --Alert--warning-color: #333;
  --Alert--warning-bg: #{$warning-bg};
  --Alert--warning-borderColor: transparent;

  // Toast size
  --Toast-width: #{px2rem(300px)};
  --Toast-borderRadius: 0;
  --Toast-paddingY: #{px2rem(5px)};
  --Toast-paddingX: #{px2rem(15px)};
  --Toast-icon-fillHeight: false;
  --Toast-paddingL: #{px2rem(26px)};
  --Toast--info-paddingL: 0;
  --Toast-border-width: #{px2rem(1px)};
  --Toast-icon-width: #{px2rem(16px)};
  --Toast-icon-height: #{px2rem(16px)};
  --Toast-opacity: 1;
  --Toast-title-display: inline;

  // Toast color
  --Toast-color: #{$white};

  --Toast--danger-color: #{$danger};
  --Toast--danger-bgColor: #{$danger-bg};
  --Toast--danger-borderColor: #{$danger};

  --Toast--info-color: #{$info};
  --Toast--info-bgColor: #{$info-bg};
  --Toast--info-borderColor: #{$info};

  --Toast--success-color: #{$success};
  --Toast--success-bgColor: #{$success-bg};
  --Toast--success-borderColor: #{$success};

  --Toast--warning-color: #{$warning};
  --Toast--warning-bgColor: #{$warning-bg};
  --Toast--warning-borderColor: #{$warning};

  --Toast-close-color: var(--icon-color);
  --Toast-close--onHover-color: var(--icon-onHover-color);

  --TagControl-sugTip-color: #{$primary};

  // Card
  --Card-actions-borderColor: #{lighten(#eceff8, 2.5%)};
  --Card-onChecked-bg: #{$white};
  --Card-onChecked-borderColor: #{$primary};
  --Card-onChecked-color: #{$primary};

  --Card-onModified-bg: #108cee;
  --Card-onModified-borderColor: #{$primary};
  --Card-onModified-color: #{$primary};

  --Card-actions-onHover-bg: white;
  --Card-actions-onHover-color: #{$primary};
  --Card-actions-onChecked-onHover-bg: #{$white};

  --Card-actions-fontSize: #{px2rem(12px)};

  // Combo
  --Combo--horizontal-dragger-top: #{px2rem(5px)};

  // ListMenu
  --ListMenu-borderWidth: 0;
  --ListMenu-borderRadius: 0;
  --ListMenu-item-height: #{px2rem(30px)};
  --ListMenu-item-color: #333;
  --ListMenu-item--onHover-color: #000;
  --ListMenu-item--onHover-bg: #eaf6fe;

  --Transfer-title-bg: var(--Table-thead-bg);

  --Satus-icon-width: #{px2rem(14px)};
}
