// 默认主题

// 更新时间: 2019-08-14 14:31:00
$ns: 'a-';

$primary: #7266ba;
$info: #23b7e5;
$success: #27c24c;
$warning: #fad733;
$danger: #f05050;
$light: #edf1f2;
$dark: #3a3f51;
$black: #1c2b36;

$text-color: #58666e;
$link-color: $info;

$Form-input-borderColor: #cfdadd;

@import '../functions';
@import '../variables';
@import '../mixins';
@import '../base/reset';
@import '../base/normalize';
@import '../base/typography';

@import '../layout/layout';
@import '../layout/grid';
@import '../layout/aside';
@import '../layout/hbox';
@import '../layout/vbox';
@import '../components/button'; // 这个要放在最前面
@import '../components/modal';
@import '../components/drawer';
@import '../components/tooltip';
@import '../components/popover';
@import '../components/toast';
@import '../components/alert';
@import '../components/array-input';
@import '../components/tabs';
@import '../components/nav';
@import '../components/page';
@import '../components/remark';
@import '../components/chart';
@import '../components/video';
@import '../components/audio';
@import '../components/panel';
@import '../components/service';
@import '../components/spinner';
@import '../components/button-group';
@import '../components/dropdown';
@import '../components/collapse';
@import '../components/color';
@import '../components/condition-builder';
@import '../components/context-menu';
@import '../components/wizard';
@import '../components/crud';
@import '../components/table';
@import '../components/list';
@import '../components/cards';
@import '../components/card';
@import '../components/quick-edit';
@import '../components/popoverable';
@import '../components/copyable';
@import '../components/divider';
@import '../components/pagination';
@import '../components/wrapper';
@import '../components/status';
@import '../components/carousel';
@import '../components/image-gallery';
@import '../components/images';
@import '../components/input-box';
@import '../components/result-box';
@import '../components/search-box';
@import '../components/list-menu';
@import '../components/json';

@import '../components/form/fieldset';
@import '../components/form/group';
@import '../components/form/input-group';
@import '../components/form/text';
@import '../components/form/textarea';
@import '../components/form/checks';
@import '../components/form/city';
@import '../components/form/switch';
@import '../components/form/number';
@import '../components/form/select';
@import '../components/form/result-list';
@import '../components/form/list';
@import '../components/form/location';
@import '../components/form/matrix';
@import '../components/form/color';
@import '../components/form/date';
@import '../components/form/date-range';
@import '../components/form/image';

@import '../components/form/file';
@import '../components/form/editor';
@import '../components/form/rich-text';
@import '../components/form/tinymce';
@import '../components/form/range';
@import '../components/form/repeat';
@import '../components/form/tree';
@import '../components/form/tree-select';
@import '../components/form/combo';
@import '../components/form/sub-form';
@import '../components/form/chained-select';
@import '../components/form/picker';
@import '../components/form/qr-code';
@import '../components/form/tag';
@import '../components/form/rating';
@import '../components/form/transfer';
@import '../components/form/nested-select';
@import '../components/form/icon-picker';
@import '../components/form/form';

@import '../utilities';
