/**
 * Basic typography style for copy text
 */
html {
    font-size: $remFactor;
}

body {
    color: $body-color;
    background-color: $body-bg;
    font-size: $body-size;
    font-weight: $body-weight;
    font-family: $fontFamilyBase;
    line-height: $body-lineHeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover {
        color: $link-onHover-color;
        text-decoration: $link-onHover-decoration;
    }
}

label {
    font-weight: $fontWeightNormal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $fontWeightNormal;
    color: $text--loud-color;
    line-height: 1.1;
}

.is-matched {
    color: $danger;
}
