// todo

.#{$ns}EditorControl {
    min-height: px2rem(200px);
    max-height: px2rem(400px);

    > .#{$ns}MonacoEditor,
    > .#{$ns}MonacoEditor > .monaco-diff-editor {
        min-height: px2rem(198px);
    }

    overflow: visible;
    height: auto;
    border: $Form-input-borderWidth solid $Form-input-borderColor;
    max-width: 100%;
    box-sizing: content-box;

    &.is-error {
        border-color: $Form-input-onError-borderColor;
    }

    &.is-focused {
        border-color: $Form-input-onFocused-borderColor;
    }

    &--md {
        min-height: 250px;

        > .#{$ns}MonacoEditor {
            min-height: 250px;
        }
    }

    &--lg {
        min-height: 300px;

        > .#{$ns}MonacoEditor {
            min-height: 300px;
        }
    }

    &--xl {
        min-height: 400px;

        > .#{$ns}MonacoEditor {
            min-height: 400px;
        }
    }

    &--xxl {
        min-height: 500px;

        > .#{$ns}MonacoEditor {
            min-height: 500px;
        }
    }
}

.monaco-inputbox > .wrapper {
    padding: 0;
}

// @media (min-width: 768px) {

//     .amis-editor-control.form-contorl-inline,
//     .form-group-inline .amis-editor-control {
//       display: inline-block;
//       width: 280px;
//     }
//   }
