.#{$ns}EditorControl {
  min-height: px2rem(200px);
  max-height: px2rem(400px);

  > .#{$ns}MonacoEditor,
  > .#{$ns}MonacoEditor > .monaco-diff-editor {
    min-height: px2rem(198px);
  }

  overflow: visible;
  height: auto;
  border: var(--Form-input-borderWidth) solid var(--Form-input-borderColor);
  max-width: 100%;
  box-sizing: content-box;
  position: relative;

  &.is-error {
    border-color: var(--Form-input-onError-borderColor);
  }

  &.is-focused {
    border-color: var(--Form-input-onFocused-borderColor);
  }

  &:hover {
    .#{$ns}EditorControl-ToolBar {
      opacity: 1;
      height: px2rem(20px);
    }
  }

  &-ToolBar {
    position: absolute;
    right: -1px;
    bottom: calc(100% + 1px);
    height: 0;
    width: px2rem(20px);
    padding: 0;
    border: 1px solid var(--borderColor);
    border-bottom: none;
    text-align: center;
    z-index: 10;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    background: var(--Modal-header-bg);
    box-sizing: border-box;
    opacity: 0;
    transition: height ease-in 0.3s, opacity ease-in 0.3s;
  }

  &-Modal-content {
    @extend .#{$ns}EditorControl;
    min-height: 60vh;
    max-height: none;
    height: 100%;

    > .#{$ns}MonacoEditor,
    > .#{$ns}MonacoEditor > .monaco-diff-editor {
      min-height: 60vh;
    }
  }

  &--sm {
    min-height: 100px;

    > .#{$ns}MonacoEditor {
      min-height: 100px;
    }
  }

  &--md {
    min-height: 250px;

    > .#{$ns}MonacoEditor {
      min-height: 250px;
    }
  }

  &--lg {
    min-height: 300px;

    > .#{$ns}MonacoEditor {
      min-height: 300px;
    }
  }

  &--xl {
    min-height: 400px;

    > .#{$ns}MonacoEditor {
      min-height: 400px;
    }
  }

  &--xxl {
    min-height: 500px;

    > .#{$ns}MonacoEditor {
      min-height: 500px;
    }
  }
}

.monaco-inputbox > .wrapper {
  padding: 0;
}

// @media (min-width: 768px) {

//     .amis-editor-control.form-contorl-inline,
//     .form-group-inline .amis-editor-control {
//       display: inline-block;
//       width: 280px;
//     }
//   }
