.#{$ns}Form-groupColumn {
  margin-bottom: $gap-sm;
}

@include media-breakpoint-up(md) {
  .#{$ns}Form-group {
    margin-bottom: $Form-item-gap;

    .#{$ns}Form-value > & {
      margin-bottom: $Form-input-marginBottom;
    }

    &--hor {
      display: flex;
      flex-wrap: wrap;
      margin: -$Form-group-gutterWidth / 2;
      align-items: flex-start;

      &.v-middle {
        align-items: center;
      }

      &.v-bottom {
        align-items: flex-end;
      }

      > * {
        padding: $Form-group-gutterWidth / 2;
      }

      > .#{$ns}Form-item--inline {
        margin-right: 0;
      }

      > .#{$ns}Form-item,
      > div > .#{$ns}Form-item {
        margin-bottom: 0;
      }

      .#{$ns}Form-input > .#{$ns}Form-group {
        margin-bottom: 0;
      }
    }

    &--lg {
      margin: -$Form-group--lg-gutterWidth / 2;

      > * {
        padding: $Form-group--lg-gutterWidth / 2;
      }
    }

    &--md {
      margin: -$Form-group--md-gutterWidth / 2;

      > * {
        padding: $Form-group--md-gutterWidth / 2;
      }
    }

    &--sm {
      margin: -$Form-group--sm-gutterWidth / 2;

      > * {
        padding: $Form-group--sm-gutterWidth / 2;
      }
    }

    &--xs {
      margin: -$Form-group--xs-gutterWidth / 2;

      > * {
        padding: $Form-group--xs-gutterWidth / 2;
      }
    }
  }

  .#{$ns}Form-groupColumn {
    flex-basis: 0;
    flex-grow: 1;
    width: 0;
    max-width: 100%;
    margin-bottom: 0;
  }

  @for $i from (1) through $Form--horizontal-columns {
    .#{$ns}Form-groupColumn--#{$i} {
      flex: 0 0 percentage($i / $Form--horizontal-columns);
      max-width: percentage($i / $Form--horizontal-columns);
      min-height: 1px;
    }
  }
}
