.#{$ns}Rating {
    position: relative;
    overflow: hidden;
    display: block;
    float: left;
    font-size: px2rem(24px);
    color: $dark;
    cursor: pointer;

    &.is-active {
        color: $info;
    }

    &.is-disabled {
        cursor: default;
    }

    &-half:before {
        position: absolute;
        overflow: hidden;
        display: block;
        z-index: 1;
        top: 0;
        left: 0;
        width: 50%;
        content: attr(data-forhalf);
        color: $info;
    }
}

.#{$ns}RatingControl {
    position: relative;
    overflow: hidden;
}
