.#{$ns}SubForm {
  &-values {
    margin: 2px -3px 8px;

    &:empty {
      display: none;
    }
  }

  &-value {
    background: var(--ResultBox-value-bg);
    color: var(--ResultBox-value-color);
    font-size: var(--Form-input-fontSize);
    padding: 0 var(--gap-xs);
    min-height: px2rem(24px);
    flex-wrap: nowrap;
    display: inline-flex;
    align-items: center;
    margin: 2px 3px;
    user-select: none;

    > a {
      cursor: pointer;
      margin-left: var(--gap-xs);
      color: var(--ResultBox-icon-color);
      &:hover {
        color: var(--ResultBox-icon--onHover-color);
      }

      > svg {
        width: px2rem(10px);
        height: px2rem(10px);
      }
    }

    &:hover {
      background: var(--ResultBox-value--onHover-bg);
    }

    &.is-disabled {
      pointer-events: none;
      color: var(--ResultBox-value--onDisabled-color);

      > a {
        color: var(--ResultBox-icon--onDisabled-color);
      }
    }
  }

  &-addBtn {
    font-size: var(--SubForm--addBtn-fontSize);

    @include button-size(
      var(--SubForm--addBtn-paddingY),
      var(--SubForm--addBtn-paddingX),
      var(--SubForm--addBtn-fontSize),
      var(--SubForm--addBtn-lineHeight),
      var(--SubForm--addBtn-borderRadius),
      var(--SubForm--addBtn-height)
    );

    @include button-variant(
      var(--SubForm--addBtn-bg),
      var(--SubForm--addBtn-border),
      var(--SubForm--addBtn-color),
      var(--SubForm--addBtn-onHover-bg),
      var(--SubForm--addBtn-onHover-border),
      var(--SubForm--addBtn-onHover-color),
      var(--SubForm--addBtn-onActive-bg),
      var(--SubForm--addBtn-onActive-border),
      var(--SubForm--addBtn-onActive-color)
    );

    &.is-disabled {
      pointer-events: none;
      opacity: var(--Button-onDisabled-opacity);
    }
  }

  &-placeholder {
    color: var(--Form-input-placeholderColor);
    user-select: none;
    padding: 4px;
  }
}
