.#{$ns}Switch {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: var(--Switch-width);
  height: var(--Switch-height);
  overflow: hidden;
  border-radius: px2rem(30px);
  background-color: var(--Switch-onActive-bgColor);
  margin: 0;
  vertical-align: middle;
  text-align: left;

  &.is-disabled {
    background-color: var(--Switch-onDisabled-bgColor);
  }

  i {
    &:before {
      content: '\5173';
      color: var(--Switch-valueColor);
      text-indent: (var(--Switch-width) / 2);
      text-transform: uppercase;
      font-size: var(--fontSizeSm);
      line-height: var(--Switch-height);
      font-style: normal;
      font-weight: bold;

      position: absolute;
      top: px2rem(-1px);
      bottom: px2rem(-1px);
      left: px2rem(-1px);
      right: px2rem(-1px);
      background-color: var(--Switch-bgColor);
      border: px2rem(1px) solid var(--Switch-borderColor);
      border-radius: px2rem(30px);
      transition: all 0.2s;
    }

    &:after {
      content: '';
      position: absolute;
      background-color: var(--white);
      width: calc(var(--Switch-height) - #{px2rem(2px)});
      top: px2rem(1px);
      bottom: px2rem(1px);
      left: px2rem(1px);
      border-radius: 50%;
      // box-shadow: px2rem(1px) px2rem(1px) px2rem(3px) rgba(0, 0, 0, 0.25);
      transition: margin-left 0.3s;
    }
  }

  input {
    position: absolute;
    opacity: 0;

    &:disabled,
    &:disabled:checked {
      & + i {
        &:before {
          color: var(--Switch-onDisabled-color);
          background-color: var(--Switch-onDisabled-bgColor);
          cursor: not-allowed;
        }

        &:after {
          background-color: var(--Switch-onDisabled-circle-BackgroundColor);
          color: var(--Switch-onDisabled-color);
        }
      }
    }

    &:checked {
      & + i {
        &:before {
          left: 100%;
          border-width: 0;
        }

        &:after {
          margin-left: calc(var(--Switch-width) - var(--Switch-height));

          content: '\5f00';
          color: var(--white);
          text-indent: px2rem(-18px); // todo
          text-transform: uppercase;
          font-size: var(--fontSizeSm);
          font-weight: bold;
          font-style: normal;
          line-height: var(--Switch-height);
        }
      }
    }
  }
}

.#{$ns}Switch-option {
  vertical-align: middle;
  margin-left: var(--Switch-gap);

  &:first-child {
    margin-left: 0;
    margin-right: var(--Switch-gap);
  }

  &:empty {
    display: none;
  }
}

.#{$ns}SwitchControl {
  padding-top: calc((var(--Form-input-height) - var(--Switch-height)) / 2);

  &.is-inline {
    display: inline-block;
  }
}
