.ae-ExpressionFormulaControl {
  .btn-configured, .btn-set-expression {
    width: 100%;
  }
  .btn-configured {
    .icon {
      float: right;
      width: 10px;
      height: 14px;
    }
  }
}
.btn-configured-tooltip {
  font-size: 12px;
}