.ae-GoConfig {
  height: 32px;
  line-height: 32px;
  position: relative;
  background-color: #fff;
  text-align: center;
  font-size: $Editor-right-panel-font-size;
  border: 1px solid #e6e6e8;
  border-radius: $Editor-borderRadius;

  &-trigger {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    color: #fff;
    background-color: rgba($color: #000000, $alpha: 0.55);
  }

  &:hover {
    border: none;

    &.ae-FeatureControlItem-go {
      color: transparent;
    }

    .ae-GoConfig-trigger {
      display: block;
      border-radius: $Editor-borderRadius;
    }
  }
}
