.ae-NavControl {
  &-header {
    @include flexBox();
    width: 100%;
    height: #{px2rem(24px)};
    margin-bottom: #{px2rem(12px)};
  }

  &-content {
    @include flexBox(column, flex-start);
    margin: 0;
    padding: 0;

    .ae-OptionControlItem {
      display: block;
      width: 100%;
      border: 1px dashed #999;
      padding: 15px;
      margin-bottom: 10px;
      position: relative;

      .ae-closeBtn {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        font-size: 18px;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
      }

      .ae-navControlLinks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;

        input {
          width: 120px;
        }
      }
    }
  }

  &-placeholder {
    display: none;
    color: #999;
    line-height: #{px2rem(24px)};
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding: #{px2rem(10px)};
  }

  &-footer {
    margin-top: 10px;
  }

  &-footer > * {
    width: calc(50% - #{px2rem(6px)});

    &:first-child {
      margin-right: px2rem(12px);
    }
  }
}

.nav-mode-gif {
  width: 160px;
  height: 120px;
  background: url('../static/nav-mode.png');
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 10px auto 0;
}

.ae-BadgeControl {
  .cxd-Form-groupColumn:nth-child(1) {
    padding-right: 4px;
  }
  .cxd-Form-groupColumn:nth-child(2) {
    padding-left: 4px;
  }
  .cxd-TextControl.is-focused > .cxd-TextControl-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 4px;
  }
  .cxd-TextControl-addOn:first-child {
    border-left-width: 0.0625rem;
  }
  .cxd-TextControl-input {
    padding: 4px;
  }
}

// 自定义数据样式
.ae-NavControl-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 1.5rem;
  margin-bottom: 0.75rem;
}
.ae-NavControl-wrapper {
  .nav-links {
    &-parent {
      width: 100%;
    }
    &-item {
      height: 32px;
      margin-bottom: 8px;
      padding: 0 10px 0 8px;
      border-radius: 2px;
      background-color: #f7f7f9;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #151b26;

      &-icon {
        margin: 0 -2px 0 8px;
        color: #151b26;
      }
      &-dragBar {
        color: #151b26;

        &:hover {
          color: #2468f2;
        }
      }

      &-label {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #151b26;
        margin-left: 8px;
      }

      &-actions {
        width: auto;

        .icon {
          color: #84868c;
          font-size: 14px;
          cursor: pointer;

          &:hover {
            color: #2468f2;
          }
        }
        .icon-edit {
          margin-left: 12px;
        }
        .icon-delete {
          margin-left: 13px;
        }
      }
    }

    &-children {
      margin-left: 24px;
    }
  }
}

.ae-NavControl-footer {
  button {
    width: 100%;
  }
}
.ae-NavControl-dialog {
  .cxd-IconPickerControl-valueWrap {
    display: flex;
  }
}
