.ae-TextareaFormulaControl {
  position: relative;
  &-input {
    textarea {
      resize: none;
    }
  }
  
  .ae-TextareaResultBox {
    width: 100%;
    height: 100px;
    display: block;
    border: 1px solid var(--Form-input-borderColor);
    border-radius: var(--Form-input-borderRadius);
    background: var(--Form-input-bg);
    font-size: var(--Form-input-fontSize);
    overflow-y: auto;
    &::placeholder {
      color: var(--Form-input-placeholderColor);
    }
  
    &:hover {
      border-color: var(--Form-input-onHover-borderColor);
    }

    &-editor {
      & > .CodeMirror {
        height: 100px;
      }
      .cm-field, .cm-expression {
        display: inline-block;
        position: relative;
        padding: 0 5px;
        border-radius: 3px;
        color: #fff;
        margin: 0 1px;
        background: #007bff;
        cursor: pointer;

        &:hover {
          .expression-popover {
            display: block;
          }
        }

        .expression-popover {
          position: absolute;
          display: none;
          left: 0;
          bottom: -24px;
          transform: translate(calc(24px - 50%));
          font-size: 12px;
          width: max-content;
          color: #000;
          border-radius: 4px;
          padding: 0 8px;

          background: var(--Tooltip-bg);
          box-shadow: var(--Tooltip-boxShadow);
        }
      }
    }

    &-content {
      position: relative;
      width: 100%;
      min-height: 100%;
    }

    &-input {
      width: 100%;
      min-height: 100%;
      display: inline-block;
      padding: var(--Form-input-paddingY) var(--Form-input-paddingX);
        /* 避免和 btn 重叠 */
      padding-right: calc(var(--Form-input-paddingX) + var(--Form-fontSize));

      &:focus-visible {
        outline: none;
      }
    }
    &-dropdown {
      position: absolute;
      bottom: 8px;
      right: 8px;
    }

    &-menus {
      min-width: 60px;
      right: 0;
      left: auto;
    }
  
    &-expression {
      display: inline-block;
      cursor: pointer;
      padding: 0 4px 0 8px;
      margin: 0 1px 1px;
      color: white;
      background-color: $editor-active-color;
      border-radius: var(--Form-input-borderRadius);
      .icon {
        margin-left: 2px;
        width: 8px;
      }
    }
  }
}

