.ae-TextareaFormulaControl {
  position: relative;
  &-input {
    textarea {
      resize: none;
    }
  }

  .ae-TextareaResultBox {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid var(--Form-input-borderColor);
    border-radius: var(--Form-input-borderRadius);
    background: var(--Form-input-bg);
    font-size: var(--Form-input-fontSize);
    &::placeholder {
      color: var(--Form-input-placeholderColor);
    }

    &:hover {
      border-color: var(--Form-input-onHover-borderColor);
    }

    .textarea-formula-menu {
      display: absolute;
      position: absolute;
      bottom: px2rem(8px);
      right: px2rem(12px);

      &-outer {
        min-width: px2rem(60px);
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
          cursor: pointer;
          white-space: nowrap;
          user-select: none;
          color: var(--DropDown-menuItem-color);
          padding: var(--DropDown-menuItem-paddingY)
            var(--DropDown-menuItem-paddingX);

          > a {
            color: inherit;
          }

          &:hover {
            color: var(--DropDown-menuItem-onHover-color);
            background: var(--DropDown-menuItem-onHover-bg);
          }
        }
      }
    }

    &-editor {
      height: 100%;
      border-radius: var(--Form-input-borderRadius);
      overflow: auto;
      & > .CodeMirror {
        height: 100%;
        padding-right: 24px;
        padding-bottom: 24px;
      }

      .cm-expression {
        display: inline-block;
        position: relative;
        padding: 0 5px;
        border-radius: 3px;
        color: #fff;
        margin: 0 1px 1px;
        background: var(--button-primary-default-bg-color);
        cursor: pointer;

        &:hover {
          background: var(--button-primary-hover-bg-color);
          .expression-popover {
            display: block;
          }
        }

        .expression-popover {
          position: absolute;
          display: none;
          left: 0;
          bottom: -30px;
          transform: translate(calc(24px - 50%));
          font-size: 12px;
          width: max-content;
          color: #fff;
          border-radius: 4px;
          padding: 2px 8px;
          background: var(--Tooltip-bg--dark);
          border: none;
          box-shadow: var(--Tooltip-boxShadow--dark);
          .expression-popover-arrow {
            position: absolute;
            display: block;
            width: var(--Tooltip-arrow-width);
            height: var(--Tooltip-arrow-height);
            margin-left: calc(var(--Tooltip-arrow-width) * -1 / 2);
            left: 50%;
            top: calc(var(--Tooltip-arrow-height) * -1);

            &::before,
            &::after {
              position: absolute;
              display: block;
              content: '';
              border-color: transparent;
              border-style: solid;
              border-width: 0 calc(var(--Tooltip-arrow-width) / 2)
                var(--Tooltip-arrow-height) calc(var(--Tooltip-arrow-width) / 2);
            }
            &::before {
              border-width: 0;
            }
            &::after {
              border-bottom-color: var(--Tooltip-arrow-color--dark);
            }
          }
        }
      }
    }

    &-fullscreen {
      position: absolute;
      top: 4px;
      right: 12px;
      cursor: pointer;
    }
  }

  &.is-fullscreen {
    margin: 0 !important;
    position: fixed !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2147483630 !important;
    width: auto !important;
    height: auto !important;
    .ae-TextareaResultBox {
      height: 100% !important;
      &-dropdown {
        bottom: 60px;
      }
      &-menus {
        right: 10px;
      }
    }
  }
}
