// 内容放大
.amis-hoverZoomIn-show,
.amis-hoverZoomIn:hover {
  transform: scale(1.05);
}

// 内容缩小
.amis-hoverZoomOut-show,
.amis-hoverZoomOut:hover {
  transform: scale(0.95);
}

// 阴影增强
.amis-hoverShadow-show,
.amis-hoverShadow:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

// 发光边框
.amis-hoverBorder-show,
.amis-hoverBorder:hover {
  box-shadow: 0 0 10px var(--colors-brand-5),
    0 0 10px var(--colors-brand-5) inset;
}

// 内容上升
.amis-hoverUp-show,
.amis-hoverUp:hover {
  transform: translateY(-4px);
}

// 内容下降
.amis-hoverDown-show,
.amis-hoverDown:hover {
  transform: translateY(4px);
}

// 向左滑动
.amis-hoverLeft-show,
.amis-hoverLeft:hover {
  transform: translateX(-4px);
}

// 向右滑动
.amis-hoverRight-show,
.amis-hoverRight:hover {
  transform: translateX(4px);
}

// 内容翻转
.amis-hoverFlip-show,
.amis-hoverFlip:hover {
  transform: rotateY(180deg);
}

// 闪烁
@keyframes hoverFlash {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}

// 抖动
@keyframes hoverShake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  30% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  60% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}
