.has-popover {
  position: relative;
}

.is-keyword {
  color: var(--primary-onActive);
}

.visibility-sensor {
  min-height: 5px;
}

.renderer-error-boundary {
  padding: 5px;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #cf1322;
  border: 1px dashed #cf1322;
}
